[2017-01-24 16:52] #386 closed

[2017-01-24 23:16] manumilou opened #649 "[Dashboard] Display birthdays of the week"
### Expected Behaviour

The dashboard element **Happy Birthday** should display birthdays of the week.

### Actual Behaviour

The dashboard element **Happy Birthday** displays birthdays of the day only.

### Steps to reproduce

* Create a client whose birthday is tomorrow
* Check that his name does not appear on the homepage

[2017-01-25 00:22] rjacquemin opened #650 "Favicon is missing"
### Expected Behaviour

Sous-chef logo should be displayed in the favicon placeholder

### Actual Behaviour

Default favicon is displayed
see attached screenshot

### Steps to reproduce

* loggin
* check favicon

<img width="892" alt="souschef-favicon" src="https://cloud.githubusercontent.com/assets/12820060/22273262/a5eca18e-e26d-11e6-97f3-f9851a0bf531.png">

[2017-01-25 00:27] rjacquemin opened #651 "TimeZone of the web app is using UTC instead of Eastern Time Zone"
### Expected Behaviour

Web App should display the East Time Zone (Montreal)

### Actual Behaviour

Looks like we are using utc timezone

<img width="753" alt="wrongtimezone_2" src="https://cloud.githubusercontent.com/assets/12820060/22273211/3b36f358-e26d-11e6-9e66-69a472597d33.png">
<img width="954" alt="wrongtimezone" src="https://cloud.githubusercontent.com/assets/12820060/22273212/3b371f5e-e2

[2017-01-25 00:34] rjacquemin opened #652 "Edit Button in Billing Module"
### Expected Behaviour

Edit button is not usefull .
It should be hidden or remove.

### Actual Behaviour
Edit button is displayed but just redirect on same page

<img width="910" alt="billing_editbutton" src="https://cloud.githubusercontent.com/assets/12820060/22273242/8b5fa762-e26d-11e6-8bb7-1dc2b8ee0fad.png">

### Steps to reproduce

* step 1
* step 2
* ...

[2017-01-25 01:38] rjacquemin opened #653 "Handle Multiple emergency contacts"
### Expected Behaviour

A client should be able to have multiple emergency contacts attached to him. The creation/edition form must allow multiple selection, and the client's view should show all related contacts.

### Actual Behaviour

Only one contact is supported per client.

### Steps to reproduce

* Find a client with multiple emergency contacts
* Edit client
* Click emergency tabs
* ...

see

[2017-01-25 15:15] manumilou opened #654 "Editiing client's preferences may change his status to Pending"
### Expected Behaviour

Editing a client through the form should be change the status. Actually, the status should be editable through the dropdown on the client' view.

### Actual Behaviour

If a client's status is not Active, editing his preferences reset his status to Pending.

### Steps to reproduce

* Edit a Paused client's preferences
* Save
* His status is Pending now

[2017-01-25 15:27] #654 closed

[2017-01-25 21:56] manumilou opened #655 "Automatically set orders to Delivered"
### Expected Behaviour

Orders that have been delivered should easily be changed from **Ordered** status to **Delivered** status.

### Actual Behaviour

Orders status must be updated manually, one by one.

[2017-01-26 13:27] aaboffill opened #656 "Allow space in Member quick search 'query' and to increase the number of results."
### Expected Behaviour

Find by name and family name in order to be more specific.
Show at least 15 member as query result.

### Actual Behaviour

If an space is introduced in the `query`, an empty list is returned even if you know that the query should match with at least one result.
Only 7 Members is returned as query result as query result limit.

### Steps to reproduce

* Click on `Client` ite

[2017-01-26 19:50] #656 closed

[2017-01-27 19:29] #353 closed

[2017-01-29 00:53] manumilou opened #662 "Orders created through Kitchen count have a wrong price"
### Expected Behaviour

The free side dish must be taken into account where creating the order and computing the price of each order items.
For every main dish comes a free side dish.

### Actual Behaviour

The free dish are not taken into account. Every side dish is billed.

### Steps to reproduce

* Generate orders through Kitchen count
* Inspect orders details by clicking on the eye button
* Ch

[2017-01-29 03:56] #662 closed

[2017-01-29 04:59] #655 closed

[2017-02-17 05:10] lamontfr opened #666 "Quantities of extra items added to an order are kept separate but should be cumulated"
### Expected Behaviour

When an order already includes some items that correspond to dishes (main or side) and we then add an order item (billable or not) that corresponds to one of the latter dishes, the Kitchen count report and the Route sheet should simply cumulate the quantities of  these dishes.

### Actual Behaviour

When an order already includes some items that correspond to dishes (main o

[2017-02-18 04:46] lamontfr opened #667 "Meal labels grouping and sorting"
### Expected Behaviour

(Edited as per email by Jean-François 2017-02-22 10h37)

- Text must fit within the sticky label.
- Labels must be grouped as follows : Main dish restriction, Side dish restriction, Food preparation restriction, Rest of regular meals by route.

### Assumptions about contents and sorting in each group of labels

- Main dish restriction
  - in this group, a client may also ha

[2017-02-20 14:16] lingxiaoyang commented on #650
Merged in #660. Closing.

[2017-02-20 14:16] #650 closed

[2017-02-20 14:17] lingxiaoyang commented on #652
Merged in #659. Closing.

[2017-02-20 14:17] #652 closed

[2017-02-20 14:43] lingxiaoyang opened #669 "`client.age` is incorrectly calculated"
### Expected Behaviour

https://github.com/savoirfairelinux/sous-chef/blob/dev/src/member/models.py#L593-L608

By definition, this property should give the "person's age in years on the current date".

### Actual Behaviour

I have a test client "John Doe", born on Feb 23, 1940:
![image](https://cloud.githubusercontent.com/assets/8630726/23129318/2d165820-f750-11e6-8275-63fa8b6f01c7.png)

Today is

[2017-02-21 19:21] lingxiaoyang commented on #649
Merged in #661

[2017-02-21 19:21] #649 closed

[2017-02-21 19:53] lingxiaoyang opened #670 "Model changes "not yet reflected in a migration""
### Expected Behaviour

The migrations should always match `models.py`.

### Actual Behaviour

A fresh installation of sous-chef gives the following warning:

[code]

And following `makemigrations`:

[code]

It seems that sous-chef misses few migration files in the repo.

### Steps to reproduce

* step 1: make sure that you are at the newest `dev` branch
* step 2: remove (or rename) `tools/mariadb

[2017-02-22 13:47] #666 closed

[2017-02-22 14:47] erozqba commented on #3
I think this is not valid anymore, I'm closing it and we can reopen if needed.

[2017-02-22 14:47] #3 closed

[2017-02-22 16:40] lingxiaoyang opened #672 "Client form: ui search doesn't pop up search results when there are only 1 or 2 characters"
### Expected Behaviour

In the client creation/modification form, the `ui search` fields should respond as soon as a user types a character.

### Actual Behaviour

In reality, the search result doesn't pop up before there are 3 characters. Example:

1 character (doesn't pop up):
![image](https://cloud.githubusercontent.com/assets/8630726/23221404/fec9af68-f8f2-11e6-9adf-aad364aab5b2.png)

2 charac

[2017-02-24 19:24] lingxiaoyang opened #673 "UI: bug in emergency contacts display"
### Expected Behaviour

An emergency contact may not have all information.

### Actual Behaviour

The image below shows a situation where an emergency contact's relationship is missing. The display is apparently not good, a bit confusing:
![image](https://cloud.githubusercontent.com/assets/8630726/23317410/52518214-fa9c-11e6-8b1a-e123b04e3e96.png)

### Steps to reproduce

* step 1: Create a client

[2017-02-24 19:42] lingxiaoyang commented on #672
It seems because of the code here:
https://github.com/savoirfairelinux/sous-chef/blame/0e8f48ae2f2263c9ffb3fa293f82236cca849006/src/frontend/js/member.js#L140

This setting concerning 3 characters has been there for a long time. Do we have a specific reason for this? If not, we can perhaps remove it as it causes an inconsistent behavior on the search field.

[2017-02-24 19:46] #651 closed

[2017-02-24 20:37] lingxiaoyang commented on #669
Merged in #674. Closing.

[2017-02-24 20:50] #669 closed

[2017-02-24 20:52] lingxiaoyang commented on #670
Investigation of what "not reflected model changes" are:

For `meal`:
[code]

For `member`:
[code]

For `note`:
[code]

[2017-02-24 21:00] lingxiaoyang commented on #603
Is this issue still valid? See PR #648

[2017-02-24 22:38] #613 closed

[2017-02-25 07:18] lamontfr commented on #603
@lingxiaoyang @manumilou I think the point should be addressed and decided upon at the next meeting with SRoulant which is scheduled for March 1st. I will forward the question to Jean-François ahead of time.

[2017-02-27 14:43] erozqba commented on #672
@lingxiaoyang I think it was me the one that specifies at least 3 characters to start making request to look for clients, for reasons about this you can look here: http://ux.stackexchange.com/a/78937
I don't think this is an issue at all, and I don't see why this causes inconsistent behavior on the search field, can you give me some examples?

[2017-02-27 14:49] aaboffill commented on #672
@lingxiaoyang and @manumilou this is easy to change because is a simple configuration value. The main issue is to take the correct decision. There are some things to think before to take the final decision:
* Now the database process is easy and quickly, but in the future the list of members could be increase to `100 000`, `500 000` or perhaps `1 000 000`. We will force the database to make a quer

[2017-02-28 13:34] lamontfr opened #679 "Meal administration is difficult to use in the django Admin"
### Expected Behaviour
(Note : this issue only covers the **Meal** administration of SousChef)
- Search tool in all pages
- Each restricted item should have an editable list of its incompatible ingredients (like for a component)
- Add explanations in the Meal administration menu :
  - Components  : ­"the recipes"
  - Restricted Items  : "the restriction categories"

### Actual Behaviour
- No searc

[2017-03-01 02:43] lamontfr commented on #603
@lingxiaoyang @manumilou I received a confirmation from Jean-François (2017-02-28 11:36) that this is not required anymore, because SRoulant will not offer this service in any foreseeable future.

[2017-03-01 02:43] #603 closed

[2017-03-01 20:34] #617 closed

[2017-03-01 20:45] lingxiaoyang commented on #672
@erozqba  "inconsistent" - In my view, it's possible that we only remember a syllable of someone's name, e.g. "Da" in "Daniel". In this case, I tried to put two letters in the search box but nothing popped up, and I found when I put three letters there were search results. To me, this behavior was a bit strange because I was not sure if an error had occurred.

@aaboffill  A placeholder is a good i

[2017-03-01 20:46] lingxiaoyang commented on #673
Found to be caused by PR #664. Not a real issue on the dev branch. It has been fixed in the latest commits in that PR. Closing.

[2017-03-01 20:46] #673 closed

[2017-03-01 21:48] lingxiaoyang commented on #611
Investigation on this issue: the CSS property `page-break-before: right` is defined as this double-side printing purpose but the specification also says "A conforming user agent may interpret the values 'left' and 'right' as 'always'."

See https://www.w3.org/TR/CSS2/page.html#page-break-props

And in reality, neither Firefox nor Chrome implements the `left` and `right` property, although in the f

[2017-03-02 21:28] lingxiaoyang commented on #634
Let's keep what we have for now. The suggested replacement `django-phonenumber-field`, although it uses the more common `libphonenumber` developed by Google (used on Android), doesn't clearly restrict the country. Unless needed, it's better for us to wait for a better replacement package.

[2017-03-09 16:01] #508 closed

[2017-03-13 13:50] #667 closed

[2017-03-13 13:53] #679 closed

[2017-03-13 18:21] #653 closed

[2017-03-14 14:57] #636 closed

[2017-03-14 14:57] #670 closed

[2017-03-14 15:00] erozqba commented on #500
I'm closing this issue due to inactivity, we can open it again if somebody has problems with docker and docker-compose.

[2017-03-14 15:00] #500 closed

[2017-03-15 02:06] manumilou opened #685 "Scheduled status modifications can not be deleted"
### Expected Behaviour

As a system administrator or staff member, I should be able to delete a scheduled status change for a client, from the client's view (Ex: http://localhost:8000/member/view/<client_id>/status)

### Actual Behaviour

As a system administrator or staff member, I cannot delete a scheduled status change for a client, from the client's view (Ex: http://localhost:8000/member/view/

[2017-03-15 02:15] manumilou opened #686 "It is not possible to create orders for Paused clients"
### Expected Behaviour

As a system administrator or staff member, I should be able to create new orders for any types of clients.

### Actual Behaviour

From what I tested, it is possible to create orders for Paused clients, but it needs to be confirmed.

### Steps to reproduce

* Change a client to Paused
* Try to create an order

[2017-03-15 02:19] manumilou opened #687 "Add a Cancel button on the kitchen count review step"
### Expected Behaviour

On the first step of the kitchen count, where the orders are to be reviewed, there is no option to cancel an order directly, only edit and view.
It is recommanded to cancel an order (ie changing its status to _Cancelled_) rather than deleting it, to make sure the order won't be recreated by the scheduled tasks.

### Actual Behaviour

Only an _Edit_ and _View_ button, no _Ca

[2017-03-15 02:40] manumilou opened #688 "As an admin, I should be able to specify meals defaults for every clients for every day"
### Expected Behaviour

In the client's preferences edit view, as an administrator or a staff member, I should be able to select meals defaults for an ongoing client even if no delivery is scheduled for a given week day.

### Actual Behaviour

For an ongoing client, as an administrator or a staff member, I can only specify meals defaults for delivery days.

### Steps to reproduce

* Edit an ongoin

[2017-03-15 02:45] manumilou opened #689 "Skipped command message is error-prone"
### Expected Behaviour

As an administrator or a staff member, when I create orders for a given client, there is no indication that I will be creating an order for a day where an order already exists. I only get a message saying that an order has been skipped once I saved.
The orders creation form should inform me that an order already exists for the selected days and eventually asked me if I want

[2017-03-16 01:06] lamontfr opened #691 "Determine the sequence of all clients in a route even when they have no delivery"
### Expected Behaviour (changed on 2017-03-23 - see comment)
- For a route, allow the CM to optimize, modify and save the sequence of all (active, pending or paused) clients in the route, whether they have a forthcoming delivery or not. This becomes the "default order" for the route. This will require a new main menu entry, because it is not related to the daily kitchen count. However, the same UI

[2017-03-16 12:28] aaboffill commented on #672
@lingxiaoyang and @manumilou we can finally fix this issue with a descriptive placeholder?? If the answer is true I can make the task.
Regards...

[2017-03-16 14:21] lingxiaoyang commented on #672
@aaboffill  I think we can. Let's go ahead.

[2017-03-16 20:26] peakwinter commented on #689
@manumilou Should an existing order overridden in this way be...

1. flagged as 'Cancelled',
2. flagged as 'Overridden' (necessitating the creation of a new order status flag), or
3. simply deleted?

[2017-03-16 20:53] #687 closed

[2017-03-17 14:18] lingxiaoyang commented on #686
I confirm this issue. The paused clients are not displayed in the order creation form.

[2017-03-17 18:49] peakwinter commented on #627
Along the same lines, would it be worth it to remove the hardcoded files in `src/frontend/{js,scss}/vendor` and instead install them from NPM + pack them in with Gulp? I see at least one file that has local modifications from its source version, but in that case we could use NPM to install from a forked Github repo. That way we could still periodically merge in upstream improvements.

[2017-03-19 19:36] lamontfr commented on #688
@manumilou Based on the discussion with Jean-François on 2017-03-17, the expected behavior specified in this issue is correct.

My understanding of JF's requirements (for milestone SRoulant_2.0) is that :
- Meal defaults and meal schedule are two different concepts and the UI should reflect this.
- Irrespective of delivery type (ongoing and episodic) the client preferences should always show the m

[2017-03-19 20:39] lamontfr opened #696 "Improve printed route sheets contents and formatting"
### Expected Behaviour
- Print all the routes in one operation (one click).
- Each route should start on a odd numbered new page (see issue #611 ).
- The information block on a client stop on the route sheet should never be split by a page break.
- The font size should be large enough (Helvetica 10 or above) to be clearly legible when printing.
- The SRoulant address and contact information is req

[2017-03-19 21:42] lamontfr opened #697 "Differentiate superimposed stops and remove directions in route map"
### Expected Behaviour
- When more than one client are at the same stop (for example many addresses are in the same building) such that the alphabetic letter labels are superimposed on the map, find a way to indicate this on the map or on the sequence list that accompanies the map.
- The label text A=santropol should be changed to A=Santropol Roulant.
- There should be an extra stop at the end of

[2017-03-19 22:16] lamontfr opened #698 "Scripts to cleanup referents and meal size in production database"
### Expected Behaviour
- In the production database at SRoulant, the duplicate referents (instances of model Referencing) should be removed.
- In the production database at SRoulant, when the main dish size in the meal defaults has a NULL value, it should be set to "Regular". This is stored in model Client, column meal_default_week which is a json field (see field "size_ddddd" where ddddd is monda

[2017-03-20 13:02] peakwinter commented on #688
From what I understand, pull #695 addresses most of the second bullet point but nothing from the other two. Let me know if that is the case and I can work on the other items later.

[2017-03-20 13:43] lamontfr commented on #688
@peakwinter I appreciate your offer. I will ask Jean-François if he wants the changes done now and get back to you.

[2017-03-20 18:50] #686 closed

[2017-03-20 18:58] lingxiaoyang commented on #698
@lamontfr

Do you know why this happened? Is there a problem with the application logic?

[2017-03-20 19:00] #688 closed

[2017-03-20 19:08] lingxiaoyang commented on #688
@peakwinter  @lamontfr  Oops! I've merged PR #695 before reading your discussion here.

@lamontfr  Would you mind creating a new issue for the new requirements? Still, I think they are out of the scope of this issue itself.

[2017-03-20 19:14] manumilou commented on #689
@peakwinter Flagged as Cancelled would be the best solution I think. What's your take on that?

[2017-03-20 19:18] peakwinter commented on #689
@manumilou I guess it depends on what usually would warrant this sort of change; is the user overriding an order because the user expressly cancelled it, or because the initial order was created in error?

[2017-03-20 19:26] manumilou commented on #689
Usually, it will happen because, as orders are generated in advance (30-90 days) according to client's defaults (ongoing clients only), some orders need to be modified / cancelled / added. The use case here is the following:
- for a given ongoing client, his orders are generated a month in advance
- for a given day, the client wants to modify or add an order. The staff member uses the Add orders f

[2017-03-20 22:55] erozqba commented on #627
@peakwinter :+1:  could you submit a PR?

[2017-03-21 00:22] lamontfr commented on #698
@lingxiaoyang This happened in late January 2017, during data conversion from the Feast system since the database integrity constraints were probably deactivated. I believe that SousChef's logic is correct. I updated the Issue description to explain the reason.

[2017-03-21 00:28] lamontfr commented on #688
@lingxiaoyang @peakwinter I created a new issue that will be required for Milestone 2.0, unless Jean-François says he needs it in Milestone 1.1.

[2017-03-21 00:36] lamontfr opened #700 "Meal defaults and Meal schedule should be separate elements in the UI"
### Expected Behaviour
- Meal defaults and meal schedule are two different concepts and the UI should reflect this.
- Irrespective of delivery type (ongoing and episodic) the client preferences should always show the meal defaults, that is **what** the client said he wants in **his** meal for specific weekdays.
- For an ongoing delivery type only, the client preferences should also show the meal s

[2017-03-21 14:59] peakwinter commented on #627
@erozqba Will do!

@lingxiaoyang After looking into it, the deprecation notices appear to be caused by Gulp and shouldn't effect us very much. They should be fixed when Gulp hits 4.x.

[2017-03-21 15:12] lingxiaoyang commented on #627
@peakwinter  On versioneye I muted the JS packages. You can re-enable them if you feel necessary.

[2017-03-21 15:42] lingxiaoyang opened #703 "Discussion: versionning of po files"
As one of developers, I find po files cumbersome when working with pull requests. Every time we run `manage.py makemessages`, Django updates the strings, locations and timestamp of every po file. Locations in particular -- a newline added somewhere in the code will trigger the update of the whole po file. It was sometimes a trouble when I tried to rebase my pull request or merge an other pull requ

[2017-03-21 16:24] erozqba commented on #703
@lingxiaoyang :+1:

[2017-03-21 17:50] lingxiaoyang opened #704 "Multiple clients may not share the same address instance"
### Expected Behaviour

In sample_data.json, find Paul Taylor and Kevin Tracy:
https://github.com/savoirfairelinux/sous-chef/blob/dev/src/delivery/fixtures/sample_data.json#L24-L34
https://github.com/savoirfairelinux/sous-chef/blob/dev/src/delivery/fixtures/sample_data.json#L81-L91

You'll see that they have the same address instance ID 511. When this happens, there should be some sort of indicati

[2017-03-21 18:49] peakwinter opened #706 "Creating an order for a client with no meal preferences raises an error"
### Expected Behaviour

When using the New Orders page in the development environment, attempting to create an order for a client that has never had a meals schedule set should not raise any errors.

### Actual Behaviour

When using the New Orders page, attempting to create an order for a client that has never had any meals schedule set raises an HTTP Error 500.

My understanding is that this woul

[2017-03-21 19:28] #627 closed

[2017-03-21 19:47] lingxiaoyang commented on #706
@peakwinter  Yes, this should not happen in production but we could lose data integrity anytime in regards to the database. That is to say, it's still necessary to fix it at the application side.

[2017-03-22 01:20] lamontfr commented on #704
@lingxiaoyang
1. I created the sample data and I reused the address instance to save time; this was a mistake I made. I will add an issue to correct the sample data.
2. The ClientWizard (member/views.py L177) creates a new address instance for new clients, so I assume that in the production database each client has his own address instance.
3. The current relationship between the models is : 0..1

[2017-03-22 10:14] lamontfr opened #707 "Sample data used for testing has addresses shared by many members"
### Expected Behaviour
- Each member should have his own address if it is a client, or no address if it is a referent.
- When we modify an address, it should affect only one member.

### Actual Behaviour
- The sample data has addresses instances that are pointed to by more than one member see issue #704.

[2017-03-22 13:48] peakwinter opened #708 "Overhaul + Modernization of frontend JS"
In line with the enhancements to the Gulp build system and JS dependency management that were introduced yesterday in PR #705, I would like to continue the process of reviewing this repo's JavaScript components and extend it to include a modernization and reduction of technical debt. This review is inspired by (and goes in a similar direction to) @ellmetha's great analysis of how we use JS along w

[2017-03-22 20:27] #697 closed

[2017-03-22 21:23] lingxiaoyang commented on #704
@lamontfr I see #707. Thank you!

I think the best solution for this ticket would be enforcing `unique=True` on Member.address, which agrees with your point (4).

I'll take care of the model migration.

[2017-03-23 13:43] peakwinter opened #710 "Behaviour inconsistent in client selection on the New Orders page"
### Expected Behaviour

Selecting a client on the new orders page should either:

 * complete an AJAX GET request to obtain necessary information from the API, or
 * complete a POST + full page reload to obtain necessary information, as if selecting a new delivery date,

but not both.

### Actual Behaviour

On client selection, a GET request is fired [here](https://github.com/savoirfairelinux/sous

[2017-03-23 13:50] lingxiaoyang commented on #710
@peakwinter  It would be my problem of not cleaning the old code (AJAX) when implementing the new feature (HTML form). You may delete the previous AJAX code I think, which returns an XHTML page and doesn't work either.

Do you think it's necessary to have two files order.js and multidatespicker.js? Although the MultiDatesPicker object is only used in the order batch create form, it essentially bel

[2017-03-23 13:54] peakwinter commented on #710
@lingxiaoyang The trouble is that even if I remove that AJAX code and fix the part that sends a POST on client change, it still doesn't work (well) and merits additional investigation. Which is why I've filed the bug :)

I don't believe we need two files, it adds a bit to the confusion. Unless mutlidatespicker.js is dedicated to creating a reusable "date picker" component that can be used in multi

[2017-03-23 14:00] lingxiaoyang commented on #710
@peakwinter  I didn't understand: which doesn't work well?

[2017-03-23 14:02] peakwinter commented on #710
@lingxiaoyang The function [here](https://github.com/savoirfairelinux/sous-chef/blob/dev/src/frontend/js/multidatespicker.js#L64) that is supposed to fire the POST request, process the new info and reload the page. It doesn't appear to set the contents of the client dropdown, should be tested to ensure it loads meal defaults properly if dates are already selected, etc.

[2017-03-23 14:06] lingxiaoyang commented on #710
@peakwinter  Ah I see. In fact, it works when you have selected some dates, but when the form is at initial state (empty), this event is not fired for some reason...

[2017-03-23 14:08] lingxiaoyang commented on #710
@peakwinter I see why. There's an error in the console 'Error: Empty array of dates received.' when the form is empty, and then the script is interrupted.

[2017-03-23 18:32] #672 closed

[2017-03-23 18:35] #707 closed

[2017-03-23 19:37] lingxiaoyang commented on #703
I am proposing the following changes regarding our development workflow:

1. Drop the English `django.po` files. We don't work on these English po files as it is the default language for Sous-Chef.
2. Add `--no-wrap` when generating po files. That is to say, don't break a translatable string into multiple lines. This will help the reading of pull request differences.
3. Drop locations of strings (

[2017-03-23 20:12] lingxiaoyang commented on #703
@madmath @PascalPriori  Hello Sous-Chef translators! I'd love to know during your work on Transifex, if you have ever consulted the origin of an English text (from which file, and in which line), in order to translate it into French.

This is because I'm proposing removing this information from our code repository for better version control at the developers' side, but I also have to know potentia

[2017-03-23 21:52] PascalPriori commented on #703
@lingxiaoyang Let's talk about it monday. I'm not sure to understand well.

[2017-03-24 00:37] lamontfr commented on #691
The issue was discussed with Jean-François on 2017-03-22 and it was decided to change the title and expected behavior.
The old version was :
**Title** "Remember the adjusted sequence of clients in a route even when they skip some delivery days".
**Expected behavior** :
- Allow the CM (client manager) to adjust the ordering of the stops for the clients belonging to a route on a day where they have

[2017-03-24 12:59] JeanFrancoisFournier commented on #696
Precision:
1# The font size should be at least 12 (right now, our route sheets are using 12 for text and 14 bold for client's names)
2# The SR logo, name, address and phone number should be clearly indicated in a size 12 font
3# A header indicating to the volunteers that the informations on that route sheet are confidential should be included as:
"Ce document contient des informations CONFIDENTIEL

[2017-03-24 13:00] JeanFrancoisFournier commented on #696
A PDF file generation, much like the one used in printing the kitchen count form, would be preferable

[2017-03-24 14:01] lingxiaoyang commented on #611
This issue is not valid anymore. Replaced by issue #696.

[2017-03-24 14:01] #611 closed

[2017-03-24 14:02] JeanFrancoisFournier commented on #691
This "new main menu entry" should allow the CM to view/modify/save the route default order for any individual routes. This will reflect the route order of an hypothetic delivery day where every client (active ongoing, active episodic, paused and pending) would be receiving a meal.

The positionning of a new/resuming client in this "Route order default" should not be an additional step in the new c

[2017-03-24 14:37] JeanFrancoisFournier commented on #685
Within the UI, we should be able to:
1# Cancel a future scheduled status change (i.e. client calls to cancel his planned vacation due to family emergency)
2# Cancel a current (ongoing) scheduled status change (client changes his mind in the middle of a meal delivery pause)
3# Lengthen a current (ongoing) scheduled status change (ie. prolonged hospitalisation)
4# Shorten a current (ongoing) schedul

[2017-03-24 14:38] JeanFrancoisFournier commented on #685
#5 Lengthen a future scheduled status change
#6 Shorten a future scheduled status change

[2017-03-24 14:50] JeanFrancoisFournier commented on #672
Some of our former clients of asian descent have some really short last names (ie. Ng, Lu, Yu) This could be a problem.

[2017-03-24 15:01] JeanFrancoisFournier commented on #689
When trying to enter an order on a day a specific clients already has an order, I should be alerted by the system and given the choice of either replacing the pre-existing order with the one that was just inputed or cancel this action.

It would be nice to see the actual content of both orders when making the choice between the old order and the new one. ie:
***
The client already has an order sch

[2017-03-24 16:19] JeanFrancoisFournier opened #713 "Route size monitoring - Dashboard request"
### Expected Behaviour

When asked whether or not we can accept a new client on any given route, we need to know:

1# the nb. of episodic meals that could be ordered (if all of them ordered on the same day)
 per route.  (adding up meal defaults numbers from all active, paused and pending episodic clients and choosing the biggest number of meals if a client receives different meal quantity on diffe

[2017-03-24 17:46] lingxiaoyang commented on #689
@peakwinter

[2017-03-24 18:08] JeanFrancoisFournier commented on #688
If I understand these somewhat merged issues correctly, I definitely feel that the meal defaults and meal schedule should be decoupled both in the UI and in the logical architecture of the code. In this issue, the UI (issue 700) and Logic (issue 688) should be addressed together as a milestone 1.1

[2017-03-24 18:10] JeanFrancoisFournier commented on #700
This issue should be tagged as Milestone 1.1 because of it being so closely related to issue 688

[2017-03-24 18:28] peakwinter commented on #689
Notes to self:

* Move confirmation modal and `override_dates` operations to occur at order submission rather than date selection
* Obtain and display existing meal summary in the modal

[2017-03-27 18:40] lingxiaoyang commented on #703
According to @PascalPriori, the location information of translatable strings is not crucial to translators, although it can be helpful considering translators work without the context of application. It is possible to remove this metadata and there will not be a major difficulty for them.

But just now, I found it possible to suppress the line numbers and keep only the file names in .po files. Thi

[2017-03-27 21:05] #706 closed

[2017-03-28 13:59] erozqba commented on #703
:+1: :+1:

[2017-03-28 15:24] lingxiaoyang commented on #713
@JeanFrancoisFournier  Here is a proposed route table. The numbers are calculated with the **number** of main dishes, regardless of its size (regular or large). For example, on route Mile-End, on Monday, there are 4 ongoing clients that are ordering 2, 2, 1, 1 main dishes, respectively. Is this correct behaviour?

I added a tooltip (the question mark) in the table head. Do you have other suggestio

[2017-03-28 18:44] lingxiaoyang commented on #713
@JeanFrancoisFournier  Here is a proposed route table. The numbers are calculated with the **number** of main dishes, regardless of its size (regular or large). For example, on route Mile-End, on Monday, there are 4 ongoing clients that are ordering 2, 2, 1, 1 main dishes, respectively, which add up to 6 as displayed in the table. Is this the correct behaviour?

I added a tooltip (the question mar

[2017-03-30 19:43] lingxiaoyang opened #716 "Billing creation throws an error when the month is not provided."
### Expected Behaviour

The user should be able to preview a month's billing, and create the billing for that month.

### Actual Behaviour

There are two problems:

[code]

[2017-03-30 20:35] #689 closed

[2017-03-31 14:57] lingxiaoyang opened #717 "Enhance client scheduled status change UI"
### Expected Behaviour

Wrote by JF in #685:

This enhancement could easily bring confusion if simply added to the UI, because the scheduled changes are related with a client's actual status and vice versa. Needs discussion on how we define the backend behaviours.

### Actual Behaviour

Not implemented yet.

### Steps to reproduce

N/A

[2017-03-31 14:59] lingxiaoyang commented on #685
@aaboffill  I copied JF's two comments to issue #717 for more discussion. For now we can accept your PR #711.

[2017-03-31 15:46] lingxiaoyang commented on #717
What I propose:

1. As this ticket implies multiple possibilities of a status change, we should make sure that the page "Scheduled Status Changes" provides all these possibilities, including: adding a status change, editing a status change, deleting a status change, etc...

2. The little yellow badge at the top-right corner can also be useful for making a quick status change, but we have to limit

[2017-03-31 15:54] lingxiaoyang commented on #717
@aaboffill  This proposition, however, will invalidate your PR #711 as it doesn't rely on the concept of "paired status changes", because it'll let the user directly manage the entries of scheduled status changes, and also unnecessary to remove the pair when we are deleting a scheduled status change.

[2017-03-31 18:08] #685 closed

[2017-04-03 17:00] #716 closed

[2017-04-04 17:58] #703 closed

[2017-04-04 18:06] aaboffill opened #720 "Restrict the button to remove an Schedule Status Change to admin users only"
### Expected Behaviour

The `button` to remove an `Schedule Status Change` should be acceded by admin users only.

### Actual Behaviour

There are not a condition to show the button to remove an `Schedule Status Change`.

### Steps to reproduce

* Login into the system with a not admin user.
* Go to a client's view.
* Schedule a status change by using the status button, at the top-right.
* Go to t

[2017-04-04 18:56] lingxiaoyang commented on #710
@peakwinter  I think it was I who did it. The GET request upon client selection was not used, and the meal defaults were loaded during the form refresh.

I have fixed it in PR #719. I'm closing it now...

[2017-04-04 18:56] #710 closed

[2017-04-04 19:44] lingxiaoyang commented on #713
Development note: depends on #719 as it has to inquire meals_default and meals_schedule.

[2017-04-04 20:44] #720 closed

[2017-04-05 14:01] lingxiaoyang commented on #691
I'll try to work on this.

[2017-04-05 14:07] lamontfr commented on #691
Great ! BTW I'm making good progress on issue #696.

On Wed, Apr 5, 2017 at 10:01 AM, Ling-Xiao Yang <notifications@github.com>
wrote:

[2017-04-05 15:36] lingxiaoyang commented on #691
Implementation plans (also fixes #612):

1. Keep the `member.Route` model as it is now, but alter the definition of `client_id_sequence` field - it will be a JSON list storing the "default" order for all active/paused/pending clients.
2. New model `member.DeliveredRoute` keeps track of route configurations on each delivery day. It has four fields:
  - `route`: Foreign key to member.Route
  - `date

[2017-04-05 15:37] lingxiaoyang commented on #691
Ideally we should have a separate `Route` app and move all related functionalities there, but it implies too many changes in our current codebase. If we feel necessary, we may do that in 2.0.

[2017-04-05 15:52] aaboffill commented on #717
Well, in order to reach the requirements of @JeanFrancoisFournier , I think that we need only to add the functionality to modify the `Scheduled Status Change`, to provide the needed flexibility.

Now, as @lingxiaoyang say, we need to keep in mind a lot of rules or restrictions. I think that the `django model` and the `way` that we use to manage the `Scheduled Status Change` behavior, brings some d

[2017-04-05 17:08] lingxiaoyang commented on #717
@aaboffill  I think you'll also need another field to keep the original status. If I'm correct, the new ScheduledStatusChange model will be:

[code]

And it distinguishes "permanent change" and "temporary change" by `end_date` and `original_status`; "processed change" and "future change" by `start_date`.

One problem I noticed is that we may lose track of processed permanent changes, because the `

[2017-04-05 17:29] lingxiaoyang commented on #717
@aaboffill  Another idea: don't bother too much with the model `ClientScheduledStatus`. We simply keep the status change modal, and make it possible to **overwrite** any future scheduled changes.

If we take another look at the requirements:

This can be implemented by deleting a pair of scheduled changes.

Note: we should somehow let the admin know that there's a future status change.

This can b

[2017-04-05 17:49] aaboffill commented on #717
@lingxiaoyang adding some changes to your proposed class. I don't still happy with the name, but maybe sound a little better. I added some changes on the status attributes.

[code]

About your last comment, maybe it's a little more quick to implement, maybe don't need migrations, but I think that keep the process not natural.
Depend what is better in this case, add the pertinent changes to reach t

[2017-04-05 17:59] lingxiaoyang commented on #717
@aaboffill

I didn't understand what you refer to by "natural". Can you elaborate more on this?

[2017-04-05 18:08] aaboffill commented on #717
Sure! @lingxiaoyang , that means the following:
Keeping the `pair` relationship, instead of a simple `end_date`, makes the process more complex, more difficult to maintain future changes.

[2017-04-05 18:20] lingxiaoyang commented on #717
@aaboffill How about removing the `pair` relationship? My point was also that we don't allow too many scheduled status changes on a client - at most two, a scheduled start and a scheduled end. For the given 6 requirements, this would be sufficient.

But if we need to implement multiple status changes or more complex cases, we'll have to let admin work on the scheduled changes page. Generally, I th

[2017-04-05 18:30] lamontfr commented on #691
@lingxiaoyang I will ask Jean-François about whether merging / unmerging routes is essential to have in order to use SousChef exclusively (without Feast).

[2017-04-05 18:32] lingxiaoyang commented on #691
@lamontfr  Sure, thank you!

[2017-04-05 18:38] aaboffill commented on #717
I don't know @lingxiaoyang , is very possible that I haven't the enough knowledge about the Sous-Chef logic, but if our  discussion has been good to clarify how you can proceed with this issue, it's a good chance for you to continue and propose a fix. :+1:

[2017-04-06 00:33] lamontfr commented on #691
@lingxiaoyang I got an answer from Jean-François, and he prefers to postpone the development of issue 612 (route merging) until Milestone 2. The SRoulant staff is quite eager to get SousChef in real production and they chose the essential issues that we should deliver for milestone 1.1. You are in cc. of my reply to him. Your proposed plan is elegant but I think a two step approach is indicated he

[2017-04-06 10:29] lamontfr commented on #691
@lingxiaoyang
Here are some thoughts about this issue :
- With the current system (Feast), SantropolRoulant (SR) have no route
  optimization, no geolocalization and no map.
- When a new client arrives, they look at Google Maps, then choose a route to
  put him in and then place him in a fixed position in the route sequence in
  Feast; which is for any status of client, irrespective of the day.
-

[2017-04-06 14:27] lingxiaoyang commented on #691
@lamontfr  Thank you for the contact! I'll postpone the merging of routes. It'll simply be a removal in my proposed plan and my progress is far from that point.

[2017-04-06 14:44] aaboffill opened #723 "Restrict birthday date calendar field to select onlythe past dates"
### Expected Behaviour

Disable the future dates in the birthday date field in the Client basic information form.

### Actual Behaviour

The system allow to save a Client with a birthday date 2020/01/01.

### Steps to reproduce

* Go to the Client menu.
* Select add new Client
* Select the birthday date in the future.

[2017-04-06 19:53] lingxiaoyang commented on #691
**Progress: "Route" menu finished.**

List view:
![image](https://cloud.githubusercontent.com/assets/8630726/24772811/bfdd73ce-1ae0-11e7-9fda-0b3322985ba8.png)

Detail view:
![image](https://cloud.githubusercontent.com/assets/8630726/24772835/d4745320-1ae0-11e7-979f-0ce069fe268a.png)

Edit view:
![image](https://cloud.githubusercontent.com/assets/8630726/24772906/037c4204-1ae1-11e7-88f3-1dc7cdeb5a

[2017-04-07 19:28] #723 closed

[2017-04-09 18:12] #432 closed

[2017-04-09 18:22] #704 closed

[2017-04-14 18:30] #700 closed

[2017-04-15 18:50] lamontfr opened #726 "Cannot enter dates when adding a new client"
### Expected Behaviour

- When adding a new client, must choose or enter birthdate and referral date.

### Actual Behaviour
- In chrome and firefox, cannot select birth date in calendar, and when entering date in field pressing tab clears the date; but pressing enter accepts the date.
- In chrome and firefox, cannot select referral date in calendar, and when entering date in field pressing tab cle

[2017-04-17 20:34] lamontfr commented on #726
@lingxiaoyang I just tried again, here are the two cases.

Case 1
- git checkout dev (PR 719 commit 4035144)
- restart docker webserver
- run /code/tools/gulp#  gulp
- clear browser cache
- sous chef new client : cannot enter birthdate : BUG

Case 2
- git checkout fix696 (my branch based on PR 711 commit fd8e360)
- restart docker webserver
- run /code/tools/gulp#  gulp
- clear browser cache
- sous

[2017-04-17 21:53] lingxiaoyang commented on #726
@lamontfr  I tried again with 4035144 and it seemed working fine with chrome and firefox. I could select a date from the calendar and also directly put the date in the text box (yyyy-mm-dd format).

I'll let other people test it.

[2017-04-18 00:13] cormier commented on #269
I still experience this bug on a 1366x768 resolution on latest dev.

[2017-04-18 12:37] lamontfr commented on #726
@lingxiaoyang When I use the calendar, get a "reference error" in the js console : dateformat is not defined. However, gulpfile.js contains :
[code]
and I ran gulp after the checkout. Here is the screenshot
![screenshot at 2017-04-18 08-31-39](https://cloud.githubusercontent.com/assets/8512608/25130976/249b3118-2412-11e7-9b7d-ae1f3a3b42c4.png)

Any idea ?

[2017-04-18 14:37] lingxiaoyang commented on #726
@lamontfr  That's certainly because your browser didn't load dateformat package for some reason. During `gulp`, this package should be compiled into `http://localhost:8000/static/js/sous-chef.min.js`.

@peakwinter Do you have an idea of this?

[2017-04-18 14:44] peakwinter commented on #726
@lingxiaoyang @lamontfr If you haven't updated your NPM packages since that last commit was added, that would certainly cause this kind of issue.

`docker-compose exec web sh -c "cd tools/gulp && npm install"`

[2017-04-18 16:34] lamontfr commented on #726
@lingxiaoyang @peakwinter Thanks for the hints, I will try it tonight.

[2017-04-18 17:24] lingxiaoyang commented on #269
@cormier  I tested with 1366x768 but the display was correct at my side:

Firefox
![image](https://cloud.githubusercontent.com/assets/8630726/25143933/36d77af8-243a-11e7-9754-be4ec942d889.png)

Chrome
![image](https://cloud.githubusercontent.com/assets/8630726/25143948/4506fffe-243a-11e7-9008-a596c57e2845.png)

What browser were you using?

[2017-04-18 17:55] lingxiaoyang commented on #726
@lamontfr  I just made a hotfix. There was something missing in the PR that added `dateformat`. Please try with the latest dev branch.

[2017-04-18 18:34] lingxiaoyang commented on #713
Development note: depends on #725 as there's been considerable changes on route.

[2017-04-18 18:35] Jamie22 opened #728 "Can't gulp on Windows when not using Docker"
### Expected Behaviour

It should generate the static files such as main.min.css and sous-chef.min.js

### Actual Behaviour

Running gulp gives the following error:

The node-sass directory is there but there's no vendor directory inside it.

[2017-04-18 19:18] Jamie22 opened #729 "Docker web container can't connect to DB container on Windows"
I run docker-compose up from the docker quickstart terminal and get the following output:

[code]
At this point it just stops without going back to the command line. When I open another docker terminal window and try to runserver I get this:

[code]

erortiz tried to help me solve this in the IRC chat room but was stumped because I'm still able to connect to the database manually from inside the w

[2017-04-18 21:07] lingxiaoyang commented on #717
**Progress**

UI: Inform user if there are upcoming changes. Menus are different.
![image](https://cloud.githubusercontent.com/assets/8630726/25152966/cbb39486-2458-11e7-851e-b93af5e05451.png)

![image](https://cloud.githubusercontent.com/assets/8630726/25152971/d17980c4-2458-11e7-8c21-aee3b110a06d.png)

UI: Inform user if there's an error or a potential error. (Error status or the change didn't h

[2017-04-19 01:12] lamontfr commented on #726
@lingxiaoyang @peakwinter Thanks to both of you. PR #727 fixes the problem. I just had to update the NPM packages, ran gulp and cleared the cache. I am closing the issue.

[2017-04-19 01:13] lamontfr commented on #726
Fixed by PR #727.

[2017-04-19 01:13] #726 closed

[2017-04-21 00:32] lamontfr commented on #713
@lingxiaoyang I will show your proposed solution to Jean-François tomorrow and give you feedback.

[2017-04-24 08:52] lamontfr commented on #713
@lingxiaoyang @JeanFrancoisFournier  I discussed this with JF last Friday. Since issue #700 has been solved, we now have daily default meal data for episodic clients. So the revised layout for the route size monitoring should be :

[code]
where for each day, the first number is for ongoing clients and the number in parentheses is for episodic clients,

[2017-04-24 19:56] lingxiaoyang commented on #713
@lamontfr  Got it. I assume the numbers "24" and "5" are only the main dishes, regardless of the size (regular/large). Is it correct?

[2017-04-24 20:17] lingxiaoyang commented on #713
@lamontfr A quick preview:

![image](https://cloud.githubusercontent.com/assets/8630726/25356764/72a22cda-2909-11e7-9200-84c107449557.png)

[2017-04-25 17:56] lamontfr commented on #713
@lingxiaoyang You are correct to count only the main dishes, irrespective of their size. The new layout is exactly what JF explained. Good job !

[2017-04-28 18:23] lingxiaoyang commented on #729
I confirm this issue using Docker Toolbox on a Windows 10 VM (hosted on Ubuntu 16.04):

![image](https://cloud.githubusercontent.com/assets/8630726/25541848/43a013da-2c1e-11e7-82fe-ea19275cd942.png)

[2017-04-28 18:54] lingxiaoyang commented on #728
I didn't replicate this issue on a Windows 10 VM (hosted on Ubuntu 16.04 via VMWare Workstation):

The command `gulp` doesn't exist globally after `npm install --unsafe-perms`, but can be called via `node`:
![image](https://cloud.githubusercontent.com/assets/8630726/25542865/4ce8d2c0-2c22-11e7-94e5-ab818f21c755.png)

I checked the node-sass directory but I found the Windows binding:
![image](https

[2017-04-28 20:53] lingxiaoyang commented on #729
The reason is found!

@Jamie22 Remove these two lines: https://github.com/savoirfairelinux/sous-chef/blob/7278d965ad17cfd39372451a6484dd6e90e0e894/docker-compose.yml#L9-L10 and try `docker-compose up` again.

This absolute path mapping syntax was from Docker 2 but still supported by Docker 3 on Linux. On Windows, however, version '2' is not well supported. You can compare the difference from the D

[2017-04-28 20:55] lingxiaoyang commented on #728
@Jamie22  Could you try with the updated docs dc2a68c?

[2017-04-28 21:10] lingxiaoyang commented on #729
Developer note (to be added somewhere as "testing in Windows"):

**Testing with Docker for Windows** (recommended):

Use Win10 as Docker for Windows requires Hyper-V. A VM image is officially provided by [Microsoft](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/). Select the correct version and **VirtualBox** platform and download.

Important: for the host software, I had to use a

[2017-04-28 21:17] erozqba commented on #729
@lingxiaoyang great job!

[2017-05-02 14:20] lingxiaoyang commented on #728
@Jamie22  You should be able to see the downloading process of the sass binding in the logs:

![image](https://cloud.githubusercontent.com/assets/8630726/25621914/d3b492c0-2f20-11e7-9d5e-c76a6d507180.png)

[2017-05-02 14:37] #729 closed

[2017-05-04 13:42] #691 closed

[2017-05-04 15:33] lingxiaoyang opened #734 "Orders should not be automatically generated when it is out of an ongoing client's delivery schedule"
### Expected Behaviour

@lamontfr Please confirm if this is an anomaly of sous-chef.

There are orders automatically generated on every midnight for all ongoing clients. The same logic is executed when the admin clicks on "Generate orders" in kitchen count review step 1. For every ongoing client, if he/she has delivery on that day, there should be an order for what he/she wants.

### Actual Behavi

[2017-05-04 18:30] lamontfr commented on #734
@lingxiaoyang I confirm that the expected behavior is correct. However, using current dev 395ac82, I cannot yet reproduce the problem. I will test further.

[2017-05-04 18:36] lamontfr commented on #734
@lingxiaoyang I confirm that the bug is present in current dev 395ac82.

[2017-05-04 18:37] lingxiaoyang commented on #734
@lamontfr Thank you for confirming! We'll need a unit test for this issue.

[2017-05-04 19:28] lamontfr commented on #734
@lingxiaoyang Like you said, the fix is in https://github.com/savoirfairelinux/sous-chef/blob/395ac8252a1de669d46b518f459ba1093a9d47cb/src/order/models.py#L171-L176 but meals_default has variable length so we must look for the tuple having the weekday name rather that directly indexing with the day integer (0-6).

[2017-05-09 13:23] andre-lima opened #737 "Can't run docker-compose up. GDAL library cannot be found and throws an exception"
### Expected Behaviour
Server should be up.

### Actual Behaviour
When running `sudo docker-compose up` an exception is thrown. Please see attached log file.
[error_log.txt](https://github.com/savoirfairelinux/sous-chef/files/986710/error_log.txt)

### Steps to reproduce
* clone repo and install docker
* run `sudo docker-compose build`
* run `sudo docker-compose up`
* Observe the issue in the term

[2017-05-09 13:39] #734 closed

[2017-05-09 14:04] lingxiaoyang commented on #737
The error is caused by a change in Django 1.11:

https://docs.djangoproject.com/en/1.11/ref/contrib/gis/install/geolibs/

It's better to install this.

[2017-05-09 16:37] #737 closed

[2017-05-09 19:22] Jamie22 commented on #737
I'm seeing the same error when I run docker-compose up and when I try to run python3 manage.py migrate. I followed the instructions at lingxiaoyang's link, installing GEOS, PROJ.4, and GDAL inside the web container, but it hasn't changed anything. Where do I put the file libgdal.so? I'm using Docker for Windows now.

[2017-05-09 19:29] erozqba commented on #737
@Jamie22 could you stop all containers, then remove containers, networks, images and redo a clean setup? Maybe your issue is that you are still using the old containers that don't have GDAL library installed.

[2017-05-09 19:31] erozqba commented on #728
@Jamie22 do you still have this issue?

[2017-05-09 19:47] lingxiaoyang commented on #737
@Jamie22  Normally we don't need to manage the library file `libgdal.so` by ourselves. If you install GDAL with a package manager (e.g., `apt`, `yum`, ...), everything should be automatically managed, and that's what added in this pull request. You'll need to rebuild the container by `docker-compose build`.

[2017-05-09 19:47] kousu opened #739 "Missing Mockups"
The link on the README to https://marvelapp.com/2187ig4 has linkrotted. It's now showing:

![screenshot from 2017-05-09 15-46-30](https://cloud.githubusercontent.com/assets/987487/25869581/d0cd2a3c-34ce-11e7-8f5a-fc0dd1e590b2.png)

[2017-05-09 19:50] lingxiaoyang commented on #739
Thank you for reporting. @manumilou Do you have access to this prototype? The link "Interactive Wireframes" was added by you.

[2017-05-09 20:16] Jamie22 commented on #737
Ok, got it!

[2017-05-09 20:18] Jamie22 commented on #729
Thanks lingxiaoyang. I got it working with Docker for Windows.

[2017-05-09 20:19] Jamie22 commented on #728
Not anymore but I'm able to use Docker now.

[2017-05-09 20:25] lingxiaoyang commented on #729
@Jamie22  Cool!

[2017-05-09 20:25] lingxiaoyang commented on #728
@Jamie22  Thank you!

[2017-05-09 20:25] #728 closed

[2017-05-15 12:36] lamontfr opened #740 "Multiple related persons combining emergency contacts and referents"
(As requested by and discussed with Jean-François on 2017-05-12, multiple referents are essential. This is a solution that minimizes changes such that we can finish milestone 1.1 ASAP)

(EDITED by @lamontfr 2017-05-20 19:12 EDT)
### Expected Behaviour
- For each instance of a "Related person" the attributes will be displayed as follows in the second block of Client / Information / Personal with bl

[2017-05-16 00:00] lamontfr opened #742 "Use a larger symbol on map when multiple clients at one stop"
### Expected Behaviour
(As requested by and discussed with Jean-François on 2017-05-12)
- On a route map, we should clearly see in the blue "drop" label when there are more than one client at a stop.

### Actual Behaviour
- The label at a stop shows the number with a relatively small asterisk compared to the size of the number. This makes it difficult to distinguish from the stops having only one

[2017-05-16 00:46] lamontfr commented on #698
I edited the title and the expected behavior to take into account issue #740.

[2017-05-16 01:04] lamontfr opened #743 "Display release number and environment in page footer"
### Expected Behaviour
- As a Customer manager at Santropol Roulant, I should be able to know the release number of Souschef currently running.
- As a Staff member at Santropol Roulant, I should be able to see easily in the UI if I am connected to the Production environment or to the Test environment.

### Actual Behaviour
- I have to ask the sysadmin about which release was installed on the serve

[2017-05-16 21:44] lingxiaoyang commented on #740
@lamontfr  In fact, I think we have already supported this on data model level!

Right now, we have `member.Referencing` that has one FK to `member.Client` and another FK to `member.Member`. Thus it's already a many-to-many-style model! We can have multiple Referencing instances with the same Client and different Member. And it's only necessary to fix the form validation and display logic.

[2017-05-16 22:17] lingxiaoyang commented on #742
@lamontfr  Leaflet doesn't support styling only the asterisk. How about magnifying the entire text?

![image](https://cloud.githubusercontent.com/assets/8630726/26130696/ed21d602-3a63-11e7-81de-af2139627f28.png)

[2017-05-16 22:18] lingxiaoyang commented on #742
I'm not very into changing the color as it may not be friendly for visual-impaired people.

[2017-05-17 01:15] lamontfr commented on #740
@lingxiaoyang I agree with your comment. However Jean-François showed me actual examples (in the current Feast system) of related persons that are neither referents nor emergency contacts. I forgot to mention this in the expected behavior. This was in the minutes or our meeting on 2017-05-10 and 2017-05-12, in section 1.6. I just forwarded them to you and will cc you in the future.

Here is a conc

[2017-05-17 01:19] lamontfr commented on #742
@lingxiaoyang I like very much your first solution : magnifying the entire text for multi-client stops.

[2017-05-17 13:55] lingxiaoyang commented on #740
@lamontfr  Thank you for the information. Yes, to merge referents and emergency contacts, it is necessary to delete `Referencing` and `EmergencyContact` models and move all data into the new relation model.

In Django we may define it as:

[code]

1. Regarding the model name, I would not remove "Person" as it doesn't define a member or client, but how they are related.
2. Referent and emergency co

[2017-05-17 16:59] lamontfr commented on #740
@lingxiaoyang I agree with your proposal but I have some comments.
1. We need more type choices to handle the cases I mentioned in my comment above (May 16 21:15 EDT). The model would then be :
[code]
2. Here 'related' means that the member knows the client, but is neither a referent nor an emergency contact. For example, the member may be a relative living far away.
3. We dot not plan to run the

[2017-05-17 19:22] lamontfr commented on #740
@lingxiaoyang I agree that a JSONField with setters and getters would be more elegant for the multiple choices type field.

[2017-05-18 00:30] lamontfr commented on #740
@lingxiaoyang I updated the Expected behavior and Suggestion for solution. Here is the REMOVED suggestion. :
- Reuse model EmergencyContact by adding missing attributes
  - Boolean : Emergency Contact / Contact d'urgence : [x] (checked if YES)
  - Boolean : Referent / Référent : [x] (checked if YES)
  - Text : Organization / Organisation (required if referent checked, otherwise optional)
  - Date

[2017-05-18 13:04] lingxiaoyang commented on #740
@lamontfr  Yes. Thank you for the summary!

This will be done in the Django migration module. An example is [here](https://github.com/savoirfairelinux/sous-chef/blob/dev/src/member/migrations/0026_change_to_emergency_contacts.py) and it's also possible to [unit test it](https://github.com/savoirfairelinux/sous-chef/blob/dev/src/member/tests.py#L3645).

[2017-05-18 23:31] lamontfr opened #746 "Canceled orders still appear in Kitchen count"
### Expected Behaviour
- As a customer manager, when I cancel an order for a given day, this order should not appear in the kitchen count report, in the labels and in the routes.

### Actual Behaviour
- Cancelled orders still appear in the kitchen count report, in the labels and in the routes.

[2017-05-18 23:32] lamontfr commented on #746
I can reproduce the problem in dev and I found the cause.

[2017-05-18 23:51] lamontfr opened #747 "In the kitchen count, show when main dish ingredients have been changed"
### Expected Behaviour
- As a customer manager, after I have chosen the day's main dish in the kitchen count, I want to see immediately when ingredients have been added or removed compared to the dish recipe.
- The "restore recipe" button should be active whenever the ingredients differ from the recipe.

### Actual Behaviour
- In some cases, it seems that the when the main dish ingredients have be

[2017-05-19 17:39] lingxiaoyang commented on #747
@lamontfr  Is it related with the date/time configuration on the production machine?

[2017-05-20 21:05] lamontfr opened #748 "Override orders modal dialog does not work with Chrome"
### Expected Behaviour
- When an order already exists for a client and date, and we create a new order for the same client and date, a modal dialog should ask the user for confirmation to replace the old order(s) with the new order(s). This should work in Chrome and Firefox. An example is :

![override_orders_modal](https://cloud.githubusercontent.com/assets/8512608/26279255/b51ecb5e-3d7c-11e7-91d

[2017-05-20 21:55] lamontfr opened #749 "Clean up duplicate members imported from Feast database"
### Expected Behaviour

Fill me in ...

### Actual Behaviour
- In the production database at SRoulant, the duplicate referents (instances of model Member having identical firstname+lastname and which are pointed to by instances of model Referencing) should be removed. For a given referent professional, a single Member instance should remain to which instances of Relationship having type = ['Refere

[2017-05-20 23:12] lamontfr commented on #740
@lingxiaoyang I edited the Expected behavior and removed :
- In the production database at SRoulant, the duplicate referents (instances of model Member having identical firstname+lastname and which are pointed to by instances of model Referencing) should be removed. For a given referent professional, a single Member instance should remain to which instances of Relationship having type = ['Referent

[2017-05-21 01:25] lamontfr opened #750 "Need detailed message when replacing existing order(s)"
### Expected Behaviour
- When order(s) already exists for a client and date range, and we create new order(s) for the same client and an overlapping date range, a modal dialog should ask the user for confirmation to replace the old order(s) with the new order(s).
- The dialog text should be like :
  - The following order(s) already exist for **John Doe** :
    - Order  # 38456, Friday May 19th 201

[2017-05-31 20:27] #696 closed

[2017-06-02 00:21] #713 closed

[2017-06-04 14:28] #742 closed

[2017-06-09 13:03] #740 closed

[2017-06-12 15:38] #717 closed

[2017-06-16 15:28] #746 closed

[2017-06-23 04:35] kousu opened #755 "Dockerfile shouldn't use ADD"
The Dockerfile right now says

[code]

https://docs.docker.com/engine/reference/builder/#add doesn't make it that clear, but https://www.ctl.io/developers/blog/post/dockerfile-add-vs-copy/ suggests that ADD is almost always a mistake and that COPY is correct.

[2017-06-23 07:26] kousu opened #756 "Extra npm installs"
[INSTALL.md](https://github.com/savoirfairelinux/sous-chef/blob/dev/INSTALL.md) says I should be able to

[code]

but when I do this from a fresh install, I get `no such file or directory, '/code/tools/gulp/node_modules/node-sass/vendor'`:

[code]

which is because `tools/gulp/node_modules/....` is missing
(and this file is missing whether or not I pass `--unsafe-perm`)

Investigating, you can see

[2017-06-23 07:37] kousu commented on #756
The Dockerfile currently says
[code]

I think this choice is showing its age. I experimented with changing that line to say "8.x" and found that it completely solved this:

[code]

The packages in npm must not all be backwards compatible, but also not be marked as such. Thanks npm! You're super trustworthy and reliable.

Please consider upgrading the version of Node you're using. I doubt I can rel

[2017-06-23 08:02] kousu commented on #756
I wonder why the Travis-CI build didn't catch this. Does Travis-CI not do a clean build? After much confusion I realized that `docker-compose.override.yml` which is invoked implicitly was loop-mounting `./` into the container, which meant that `tools/gulp/node_modules` were survivng builds, and perhaps since our js depends don't change that rapidly you would only need one working build once for it

[2017-06-23 08:04] kousu commented on #756
Answering my own question: the Travis build [doesn't use docker](https://api.travis-ci.org/jobs/246100654/log.txt?deansi=true). It also is on an ancient Ubuntu (12.04).

[2017-06-23 08:10] kousu opened #758 "CI server doesn't test docker"
The INSTALL.md instructions only explain how to install using Docker. I actually found it was easier to use my knowledge of webapps to figure out how to set it up without Docker, which [as I discovered](https://github.com/savoirfairelinux/sous-chef/issues/756#issuecomment-310600425), is what the Travis-CI server thinks too; it doesn't actually test any of the Docker code, which means changes to Do

[2017-06-23 08:21] kousu opened #759 "--unsafe-perm"
INSTALL.md doesn't explain why `--unsafe-perm` is necessary. I'm having trouble understanding [the official docs](https://docs.npmjs.com/misc/config#unsafe-perm) but it sounds like `--unsafe-perm` means not only that it skips `setuid()` --- so it runs as your current user --- but that **not** passing it implies it **always** `setuid()`s, which would fail when run unprivileged? It all seems a littl

[2017-06-23 09:05] kousu opened #760 "Django DEBUG flag is always on"
### Expected Behaviour

When run with production settings, Django's DEBUG flag should be off.

### Actual Behaviour

It's on.

### Steps to reproduce

[code]

go to http://localhost:8000/nonexistent/path/ and you get
[code]

[2017-06-23 09:13] kousu opened #761 "Promiscuous port config"
The port config syntax in docker-compose.yml [defaults to](https://docs.docker.com/compose/compose-file/#ports) opening on 0.0.0.0, i.e. any host can contact it directly, which is really really really silly considering how people think of docker as a protective environment.

I suggest this patch:
[code]

then you can stick a proper nginx with SSL in front.

[2017-06-23 10:14] kousu opened #763 "volume souschef_static is unused"
docker-compose.yml defines

[code]

but staticfiles are placed under /code/src/sous_chef/static, as far as I can tell. This folder here is unused, and unfound by Django when looking for things under /static.

[2017-06-26 14:42] #756 closed

[2017-06-26 14:44] lingxiaoyang commented on #760
@kousu  Nice catch! That's embarrassing...

[2017-06-26 14:45] lingxiaoyang commented on #763
I think it is completely safe to remove this volume from Docker file. @erozqba How do you think?

[2017-06-26 14:48] lingxiaoyang commented on #755
@erozqba  After reading the doc, I think we can simply replace AND with COPY?

[2017-06-26 17:42] lingxiaoyang commented on #759
@kousu  Thank you for reporting. I tested again with a fresh installation, and when I was inside the container, I was the root user and `npm install` worked fine without `--unsafe-perm`.

Then I went outside the container and it worked again without `--unsafe-perm`.

According to the doc, we don't have to explicitly set this option. The default value is false when the user is root, otherwise true.

[2017-06-26 18:03] lingxiaoyang commented on #761
Agreed!

[2017-06-26 18:10] lingxiaoyang commented on #758
@kousu I think a CI test on docker is not so critical. I agree with you that `docker-compose.override.yml` is a bad idea and it's better to make it explicit. But then we may not really need the CI test because the docker-compose file is usually straightforward and self-explaining. It would be sufficient after the PR #762. How do you think?

[2017-06-27 18:15] kousu commented on #759
Putting it in #762 is a great idea. I'll do that.

[2017-06-27 18:49] kousu commented on #760
It's okay! There's all sorts of twisty little paths here, it's not surprising that some of the more obscure corners get missed sometimes.

Thanks for patching it :)

[2017-06-27 19:01] kousu commented on #758
I think that all the Docker steps, whether scripted or in manual instructions, are just as much part of the codebase as Django. Not being able to reliably get docker working means delaying deployments and bringing new people on board. I don't know what's involved in setting it up under Travis but I imagine it being tricky and painful; but if that isn't done, I would want a clean build (e.g. ideall

[2017-06-27 20:38] kousu opened #765 "Strange staticfiles behaviour"
I just tried putting sous-chef up again using `docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d`, which runs `/bin/bash -c "cd tools/gulp && npm install && gulp && cd ../../src && python manage.py collectstatic --noinput && /usr/local/bin/gunicorn sous_chef.wsgi:application -w 2 -b :8000`. Strangely, this did not create the staticfiles properly; for example http://localhost:80

[2017-06-27 20:43] kousu opened #766 "Display Version Number"
I have a request: can we please add the git revision and/or tag onto the footer or the login page?

[2017-06-27 20:49] lingxiaoyang commented on #765
@kousu  I never looked at collectstatic but I doubt if it still works as we have been using gulp for quite a while. I'll let you know.

[2017-06-27 20:53] lingxiaoyang commented on #766
@lamontfr Have we talked about this once, maybe in a face-to-face meeting? If so, can you remind me of the specific reason that we decided not to add the commit id?

Sorry I don't remember it anymore. If we've never discussed about it, I would agree with this proposal and it's not difficult to do.

[2017-06-27 20:54] kousu commented on #766
I just noticed too that `SOUSCHEF_VERSION=` seems to be printed in the sidebar, but that's manually set by an environment variable, it's not the revision number.

[2017-06-27 21:07] lingxiaoyang commented on #766
@kousu  Yes, exactly. You can see #743.

[2017-06-27 21:16] kousu opened #767 "Request: inline all frontend libraries"
There are a few frontend libraries which are externally hosted. It seems like these could be inlined to `/static/`:

https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js
https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css
https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js

[2017-06-27 21:30] kousu opened #768 "Broken Geolocations"
On `/member/$N/update/address_information/` I have found that:

"1000, de Bullion" + "Montreal" fails to geolocate
"1000 de Bullion" + "Montreal" fails to geolocate
"1000, Bullion" + "Montreal" succeeds
"1000 Bullion" + "Montreal" succeeds

However on OSM
"1000, de Bullion, montreal" succeeds: http://www.openstreetmap.org/search?query=1000%2C%20de%20Bullion%2C%20montreal#map=19/45.51065/-73.56162

[2017-06-27 21:36] kousu opened #769 "Automate geolocation"
@JeanFrancoisFournier and I took a first pass at sous-chef-test.santropolroulant.org with the semi-real data, and found that we are stumped because there are over 1000 client records and none of the maps work. I suspect this is because none of the geolocations have been run for them.

I would like to propose

a. geolocations should be run server-side instead of client-side
b. geolocations should b

[2017-06-27 22:07] kousu opened #770 "Request: flag bad addresses"
It would be super helpful if clients with addresses that haven't been geolocated (or have failed to geolocate, if #769 goes in) were flagged obviously, perhaps with a changed background colour AND an icon, both in the route lists and in the client view and edit pages.

[2017-06-27 22:10] kousu opened #771 "Only show Active clients on route lists"
### Expected Behaviour

The route list should show only the locations that are relevant to the route.

### Actual Behaviour

There are a lot of clients listed as "Stop: no contact" and "Deceased" that are overwhelming the ability of any user to sort through and actually have the system help them.

Status column's help text is "Configured or unconfigured. Unconfigured clients are placed at the end

[2017-06-27 22:16] kousu commented on #765
Thanks @lingxiaoyang; I think it should be fairly reproducible if you start from a fresh checkout and run with the production settings (`git clone https://github.com/savoirfairelinux/sous-chef/ sous-chef-prodtest; cd sous-chef-prodtest; docker-compose -f docker-compose.yml -f docker-compose.prod.yml up`).

[2017-06-27 23:30] lamontfr commented on #766
@kousu @lingxiaoyang I opened issue #743 for this purpose. Issue #766 is a duplicate.

@kousu Please edit `docker-compose.yml` as per the deployment notes in PR #754. If you want you can set `SOUSCHEF_VERSION=` tag + git revision.

[2017-06-27 23:54] lamontfr commented on #771
@kousu I agree that we should only include active, pending or paused ( see issue #691 ) clients in the route sequence (for example https://sous-chef-test.santropolroulant.org/member/route/3/ ). Too many clients in a route may be the reason that they do not display on the map.

[2017-06-28 14:38] kousu commented on #771
@lamontfr, are you on the server right now? That second link is 404'ing for me.

[2017-06-28 14:40] kousu commented on #766
I'll take this debate to #743.

[2017-06-28 14:40] #766 closed

[2017-06-28 14:46] kousu commented on #743
I think that the git revision (`git show-ref HEAD | cut -f 1 -d " "`) should be embedded in the output, not the environment name which has to be manually set. Better, if the git revision also happens to be tagged, that should be shown instead, but I am not sure how to do that; I know people do that, because then you automatically know if you're at v1.0-beta2, v1.0-beta3, or somewhere in between (a

[2017-06-28 14:49] lamontfr commented on #771
@kousu No I am not.

[2017-06-28 20:29] erozqba commented on #755
@lingxiaoyang yes.

[2017-06-29 14:21] erozqba commented on #758
@kousu The name convention for share docker-compose configurations files use `docker-compose.override.yml` for the default "dev" environements, check here: https://docs.docker.com/compose/extends/

[2017-06-29 14:30] lingxiaoyang commented on #758
@kousu I got it wrong. Thanks @erozqba !

[2017-06-30 12:11] lamontfr commented on #771
@kousu I fixed most of the issue in PR #776. Regarding the tooltip  "Configured or unconfigured. Unconfigured clients are placed at the end of the delivery sequence by default.", unconfigured means that a new client was added to the route and the customer manager has to position him in the default delivery sequence. I will ask Jean-François for a better term than "configured / unconfigured" that i

[2017-07-01 18:01] erozqba commented on #758
@kousu Could you check the PR #775 and give me other suggestions that you find we should include in the Travis-CI tests?

[2017-07-01 18:52] erozqba commented on #763
@kousu @lingxiaoyang is not safe to remove this volume and it is being used by the Nginx in the production settings to serve static files directly without the intervention of Gunicorn.

[2017-07-01 18:53] #763 closed

[2017-07-01 18:56] erozqba commented on #761
We should not have this type of configuration in the canonical docker-compose.yml configuration file. We only use this port binding for development, so we should add it in the docker-compose.override.yml file. For the development environment, I think that security is not a priority, we are using the development web server anyway, so we could use "8000:8000".

[2017-07-01 19:38] erozqba commented on #765
@kousu yes, we have a bug there! I will look into it.

[2017-07-03 16:54] lingxiaoyang commented on #755
Merged in #774.

[2017-07-03 16:54] #755 closed

[2017-07-04 18:22] lingxiaoyang commented on #769
@kousu I see your point. I would keep the client-side geolocator for admin purposes, but add a server-side batch geolocator.

I think a manage command will be sufficient. It should find the non-geolocalised clients, try to find their GPS coordinates and report errors.

Do you think a pure command-line utility is sufficient?

[2017-07-04 18:24] lingxiaoyang commented on #770
Agreed. This is easy to do: using `client.is_geolocalized`.

[2017-07-04 18:30] lingxiaoyang commented on #768
@kousu Thank you for the report! This is a bug, because the related JS code uses "&" (`%26`) character to connect street name and city and postal codes:

[code]

And also the postal code was not present in the query.

This needs to be fixed.

[2017-07-04 18:31] lingxiaoyang commented on #767
Needs to change gulp file, I think. Refs 89d6febc1a27ef88781cfe8323e1d1310cfc2bcf.

[2017-07-05 17:11] #771 closed

[2017-07-05 17:13] lingxiaoyang commented on #770
Note: PR #776 has added "Geolocalized" in client list:
![image](https://user-images.githubusercontent.com/8630726/27876068-9dc12044-6183-11e7-9f39-a448ad019ce5.png)

This issue is to enhance the display of non-geolocalized clients, and also extend the display to route views.

[2017-07-06 14:42] #747 closed

[2017-07-11 17:48] #758 closed

[2017-07-11 21:54] erozqba opened #777 "npm WARN when building the docker image."
### Expected Behaviour

No warnings or errors in the build process.

### Actual Behaviour

npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.2.14: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated graceful-fs@1.2.3: graceful-fs v3.0.0 and before will fail on node rele

[2017-07-11 22:01] erozqba commented on #765
@kousu this bug has been fixed in PR #775
You could check it from a fresh checkout using this commands:

[code]

Then add the hostname "souschef.santropolroulant.org" in your /etc/hosts
`127.0.0.1  souschef.santropolroulant.org`
And check it out in a browser http://souschef.santropolroulant.org/

Note: The Hostname http://souschef.santropolroulant.org/ could be changed in the docker-compose.prod.y

[2017-07-11 22:01] #765 closed

[2017-07-14 16:46] lingxiaoyang commented on #767
Fixed by #779. Closing...

[2017-07-14 16:46] #767 closed

[2017-07-25 16:11] lamontfr opened #782 "UI style and widgets broken in the Test environment"
### Expected Behaviour
- For an identical release of Souschef, the Test environment behaves
  the same as the Production environment and also the same as the
  developer environments on their laptops
- This is important to ensure the quality and the reliability of the
  application that will be deployed in production

### Actual Behaviour
- When releases v1.0-beta3 or v1.0-beta4 are installed on a

[2017-07-26 21:05] #782 closed

[2017-07-27 16:11] erozqba opened #786 "Update django-avatar to the version 4.*"
### Expected Behaviour

We are using the latest version of django-avatar

### Actual Behaviour

We are using the version 3.1.0 and the new version 4.0.0 is backwards incompatible

[2017-07-27 16:12] erozqba commented on #759
I'm closing this because it's already in place with PR  #775

[2017-07-27 16:12] #759 closed

[2017-07-31 12:40] lamontfr opened #787 "Cannot enter extension in work phone number for relationship"
### Expected Behaviour
- Relationships are often professionals who give their office phone number which sometimes has an extension
- We should be able to enter a phone number with a "free text" extension such as : 514-754-8645 ext. 1234

### Actual Behaviour
- The work phone field of relationships must be NNN-NNN-NNNN. This applies when entering new relationships or when editing existing relations

[2017-07-31 12:51] lamontfr opened #788 "Test Environment beta4 : Broken UI for new orders calendar date selection"
### Expected Behaviour
- The new orders calendar date selection should look like :

![screenshot at 2017-07-31 08-43-28](https://user-images.githubusercontent.com/8512608/28778433-32c9bf9a-75cd-11e7-850b-fbb7257ed8ed.png)

### Actual Behaviour
- Using the Test environment (Staging beta4), the new orders calendar date selection looks like :

![screenshot at 2017-07-31 08-42-10](https://user-images.

[2017-07-31 13:11] erozqba commented on #788
@lamontfr I will look into it right now!

[2017-07-31 13:48] lamontfr commented on #788
@erozqba Thanks !

[2017-07-31 15:01] erozqba commented on #788
@lamontfr The problem here is that for this page, we are used the css styles directly from http://code.jquery.com and the browser block the request because is not over https. I will change this to only use compiled CSS and JavaScript.

[2017-08-01 19:55] erozqba opened #790 "Remove the use of CDN for include the CSS and JavaScript in the page new orders, calendar date selection."
### Expected Behaviour

We only use CSS and JavaScript inlined from `/static/`

### Actual Behaviour

In the page new orders for the calendar date selection, we are using externally hosted libraries.

### Steps to reproduce

* Visit https://sous-chef-test.santropolroulant.org/order/create/batch and inspect the content of the page.

[2017-08-01 19:56] #788 closed

[2017-08-01 20:13] erozqba opened #791 "Missing migration in member models."
### Expected Behaviour

All models changes are reflected in migrations that are applied.

### Actual Behaviour

  Your models have changes that are not yet reflected in a migration, and so won't be applied.
  Run 'manage.py makemigrations' to make new migrations, and then re-run 'manage.py migrate' to apply them.

### Steps to reproduce

* Clone the last changes on branch `dev`
* Run the `containe

[2017-08-01 20:14] erozqba commented on #791
I have tracked the problem and I believe that we forgot to add the migration in the commit 8eff5fb1468e47de0f611c31a30ce393a7261aa7   New: member.Relationship model, combining referents and emergency contacts. Closes #740

[2017-08-05 01:15] lamontfr opened #793 "Export client list to CSV gives error message"
### Expected Behaviour
- When we display all clients as a list `/member/list/?status=A&display=list` the export button should produce a csv file of all the filtered to download.

### Actual Behaviour
- When we display all clients as a list `/member/list/?status=A&display=list` the export button gives the error "AttributeError at /member/list/ 'Client' object has no attribute 'relationships' "
- Th

[2017-08-12 13:31] #787 closed

[2017-08-14 17:12] kousu opened #795 "Cronjob documentation"
It wasn't obvious to me in installing Sous-Chef that there were cronjobs needed. [INSTALL.md](https://github.com/savoirfairelinux/sous-chef/blob/dev/INSTALL.md) doesn't say anything about them. And though eventually [cronjob.adoc](https://github.com/savoirfairelinux/sous-chef/blob/dev/docs/cronjob.adoc) was pointed out to me, I just found out today that it is missing `processscheduledstatuschange`

[2017-08-15 00:14] lamontfr opened #796 "Django Admin must accept a member with blank Mid and Rid fields"
### Expected Behaviour
- When we need to edit the data for a member using the admin, fields Mid and Rid should not be required.

### Actual Behaviour
- Fields Mid and Rid were used only for data migration from the Feast database. For new members created in SousChef, they are required which is wrong.

[2017-08-15 19:54] kousu commented on #795
Relatedly, the first cronjob [needs quoting](https://serverfault.com/questions/274475/escaping-double-quotes-and-percent-signs-in-cron). It should be

[code]

[2017-08-15 22:17] kousu commented on #795
Also, you need to make sure the user that's run as has permissions to docker, either via sudo or by being in the docker group; a note to this effect in the docs would help.

[2017-08-15 23:01] kousu opened #797 "Disable "Order Generation" when already done"
### Expected Behaviour

On /delivery/order/, I would expect that once the order generation is done, the button to do it would be disabled or at least greyed out.

### Actual Behaviour

![orders_generate](https://user-images.githubusercontent.com/987487/29340214-d8bb65e6-81eb-11e7-8df7-c6cfcd7c480c.png)

 It took me 20 minutes wondering why the button was spinning everytime I clicked it and not doi

[2017-08-15 23:27] kousu opened #798 "Arrange routes during Kitchen Count"
### Expected Behaviour

I would expect that actually arranging the delivery route to be followed and running "minimize euclidean distances" would happen while organizing the day, that is on , say, `/delivery/route/3/`.

### Actual Behaviour

It happens on the more generic "routes" flow, under `member/route/3/edit/`.

I think this is confusing and inefficient for livreurs because deliveries change

[2017-08-15 23:50] kousu commented on #696
Hi there, great work getting this in.

There's a nit I would like to point out, and reopen this bug for. While the Route Sheets button on the main overview makes PDFs

![screenshot from 2017-08-15 19-42-04](https://user-images.githubusercontent.com/987487/29341468-7c1cf96a-81f2-11e7-9d5b-f561a9b3c8c4.png)

The button on the per-route page still just calls `document.print()`:

![screenshot from 201

[2017-08-16 02:31] #743 closed

[2017-08-16 12:19] #791 closed

[2017-08-16 13:18] #796 closed

[2017-08-16 20:58] kousu commented on #743
Thanks for solving this @lingxiaoyang! I am impressed that you found the more corre `git rev-parse HEAD` and `git describe --tags`. I never knew how to do that. Now I do :). And thanks @erozqba for doing the install this morning without me, that's excellent.

I have a puzzle though. This feature does not seem to be working on the dev server, and I can't tell why.

The commit is on the dev server:

[2017-08-17 03:02] erozqba commented on #743
Hi Nick,

You are not looking into the right place, the git information is in the
footer of the page.

[image: Imágenes integradas 1]

Eroz

2017-08-16 16:58 GMT-04:00 Nick <notifications@github.com>:

[2017-08-17 10:33] lamontfr opened #803 "A created order should have at least one order item"
### Expected Behaviour
- When a user creates a new order, if he does not enter any quantity and does not select one of "delivery", "pickup" or "visit", he should get an error message.

### Actual Behaviour
- When a user creates a new order, if he does not enter any quantity and does not select one of "delivery", "pickup" or "visit", the order is created with no order items associated to it.

### S

[2017-08-22 01:07] lamontfr opened #805 "Main dish price is higher for large size ?"
### Expected Behaviour
- For clients paying the default price, the main dish in an order should be priced $ 5.50 each for regular size and 6.50 for large size.
- For clients paying the low-income price, the main dish in an order should be priced $ 4.50 each for regular size and 5.25 for large size.

### Actual Behaviour
- For some clients, in manually created or generated orders, the main dish pri

[2017-08-22 13:57] JeanFrancoisFournier commented on #805
Pricing at the Roulant
---------------------------

Default pricing:
   Regular meals 5.50$ (with one side dish included)
   Large meals 6.50$ (with one side dish included)
   Extra side dishes 1.00$ each

Low-Income
   Regular meals 4.50$ (with one side dish included)
   Large meals 5.25$ (with one side dish included)
   Extra side dishes 0.75$

[2017-08-22 23:44] lamontfr commented on #805
@JeanFrancoisFournier Since the actual behavior is correct, I am closing this issue.

[2017-08-22 23:44] #805 closed

[2017-08-23 00:35] lamontfr commented on #357
This is no longer relevant.

[2017-08-23 00:35] #357 closed

[2017-08-24 00:11] #793 closed

[2017-08-25 12:59] lamontfr commented on #698
@kousu  @JeanFrancoisFournier I wrote the script below to detect the null and wrong (H, D) main dish sizes, and I copied it and ran it in the Test environment. Nick, please ask Jean-Francois when he wants to run the script in Production.

[code]

[2017-08-25 18:49] lingxiaoyang commented on #798
@kousu  When I was redoing the routes, I was assuming that there would be not much difference between pre-scheduled route and actual delivery routes. That's why I didn't put "Minimize" in kitchen count as long as the actual delivery routes were using the pre-scheduled route.

The question for you is: how much difference would we have between pre-scheduled and actual ones? During the test use, is i

[2017-08-25 18:56] lingxiaoyang commented on #797
@kousu Perhaps it is better to explain the use of this button somewhere on the page. I was a little bit confused at first but I did find the button useful in particular situations (in case the order generation doesn't work, for example).

@lamontfr Do you know more of the design of this button? I have no prior knowledge on this part...

[2017-08-25 18:58] lingxiaoyang commented on #777
When I built it earlier today, there were still three warnings:

[code]

[2017-08-25 20:27] lingxiaoyang commented on #795
@kousu Thanks for the heads-up! I never tested this part during my dev. I'll check it out according to your comment and update the docs.

Celery and django-cron are overkill for our purpose. We expect it being executed only once a day and we don't expect to re-program the job later.

[2017-08-25 21:52] lingxiaoyang commented on #786
Closed via #801

[2017-08-25 21:52] #786 closed

[2017-08-26 22:00] lamontfr opened #808 "Leave vertical space between route sheet delivery note and footer"
### Expected Behaviour
- On the PDF report combining all the route sheets, there should always be at least 1/8 inch of vertical space between the delivery note and the page footer.

### Actual Behaviour
- On the PDF report combining all the route sheets, it happens that a long delivery note will slightly overlap the page footer text "** VOIR FEUILLE SUIVANTE / SEE NEXT SHEET **".

### Steps to rep

[2017-08-26 22:07] lamontfr opened #809 "Path between stops on route map is not visible for CDN and NDG"
### Expected Behaviour
- The red path between stops on a route map should always be visible.

### Actual Behaviour
- The red path between stops on route map is not visible for CDN and NDG routes.

### Steps to reproduce
- Routes / click view icon for CDN / scroll down to see map / no red path !

[2017-08-27 00:03] lamontfr opened #810 "Unit prices for the main and side dishes should be in the database instead of hardcoded"
### Expected Behaviour
- The Customer manager should be able to change the unit prices in the future, minimally using the django admin.

### Actual Behaviour
- Unit prices are hardcoded as constants defined in order/models.py

[2017-08-27 00:17] lamontfr opened #811 "In kitchen count report, clashing ingredients are repeated"
### Expected Behaviour
- The "clashing ingredients" column on the kitchen count report should, in a given row, have a single ingredient or a combination of different ingredients.

### Actual Behaviour
- The "clashing ingredients" column on the kitchen count report sometimes shows in a given row the same ingredient repeated.

### Steps to reproduce
- In SousChef Test environment : Kitchen count / g

[2017-08-27 00:56] lamontfr opened #812 "Upcoming client status change message not displayed in the client Notes tab"
### Expected Behaviour
- When I view the client information, I should see the upcoming status change message at the top right in all tabs (personal, billing, status, preferences, notes, orders).

### Actual Behaviour
- When I view the client information, I see the upcoming status change message at the top right in tabs : personal, billing, status, preferences, orders, but I do not see it in the no

[2017-08-27 01:04] lamontfr opened #813 "Staff notes generated when a client status changes should have a Normal priority value"
### Expected Behaviour
- Staff notes generated when a client status changes should have a Normal priority value

### Actual Behaviour
- Staff notes generated when a client status changes have a Null priority value

### Steps to reproduce
- In SousChef Test environment : Admin / Notes / click on a note having text "Update xxx status: from ..." / scroll down to see that priority is Null.

[2017-08-28 00:15] lamontfr opened #814 "Route map and client delivery sequence list should be side by side"
### Expected Behaviour
- As a customer manager, when viewing the map for a route, I should see the client delivery sequence list at the side of the map, and should be able to scroll the client list while the map remains fully visible.
- The map width can be 2/3 of the main frame width.
- The client status, delivery type and address are not required in the client list, therefore the list will be na

[2017-08-28 00:38] lamontfr opened #815 "Order detail is confusing and incomplete"
### Expected Behaviour
- The first column "component" should be renamed "Item"
- A new column called "size" should be added between "description" and "total quantity"; the cell underneath should show the main dish size and be empty otherwise.

### Actual Behaviour
- The header is confusing and the main dish size is missing.

### Steps to reproduce
- Orders / Reset / click on view icon next to an o

[2017-08-28 00:50] lamontfr opened #816 "Cannot see priority in list of staff notes"
### Expected Behaviour
- In the list of staff notes, it should be obvious to see which have Normal or Urgent priority.
- The priority should be displayed in the first column, at left of the category column.

### Actual Behaviour
- Cannot see priority in list of staff notes

### Steps to reproduce
- Staff notes / Reset / look at the list

[2017-08-28 12:04] lamontfr commented on #797
@kousu @lingxiaoyang This button is necessary to handle these cases :
- The customer manager creates new ongoing clients (or changes the delivery mode to ongoing for existing episodic clients) after the scheduled order generation has run. The button will then generate the day's orders for such ongoing clients.
- The customer manager changes the status to active for some clients after the scheduled

[2017-09-01 14:25] JeanFrancoisFournier commented on #815
right!

[2017-09-01 14:25] JeanFrancoisFournier commented on #816
right!

[2017-09-01 14:38] JeanFrancoisFournier commented on #814
If we could go back to the old way it was displayed (side by side) it would be more user friendly. Having the adresses diplayed would actually be helpful when trying to get a sense of how to order everything but if presented with a choice between the two, I would favor the side view without the adress to the Stacked view with the adres.

[2017-09-01 14:38] JeanFrancoisFournier commented on #813
right!

[2017-09-01 14:43] JeanFrancoisFournier commented on #812
right! As a plus, it would be nice to see all scheduled status changes for a client (i.e. Paused on September 3rd / Active on September 21st)

[2017-09-01 14:45] JeanFrancoisFournier commented on #811
Right!
that's probably just a duplicate entry in theingredients/reciped/categories from the admin... but if it's not, of course it would need to be looked at

[2017-09-01 14:46] JeanFrancoisFournier commented on #810
RIGHT!

[2017-09-01 14:49] JeanFrancoisFournier commented on #809
This is a big question mark...not sure why it does that but when trying to sort clients on the ROUTES onglet from the main view, it makes it impossible for the admin to do a effective job. Also, if the adresses are removed from the view as suggested in issue number #814 it would be impossible to correctly sort them out.

[2017-09-01 14:50] JeanFrancoisFournier commented on #808
Right!

[2017-09-01 14:50] JeanFrancoisFournier commented on #803
right!

[2017-09-01 14:53] JeanFrancoisFournier commented on #750
right... what about when orders are created automatically with the CRON? What happens when order(s) already exists for a client? How does it discriminates between the two conflicting orders when no one is around?

[2017-09-01 14:54] JeanFrancoisFournier commented on #749
Right!

[2017-09-03 21:15] kousu commented on #795
There was another bug with these: they say to run `docker exec -it` but when run by cron that generates the poorly explained "[the input device is not a TTY](https://stackoverflow.com/questions/43099116/the-input-device-is-not-a-tty)". The answer there says that any of `-i`, `-t` or ` ` should work, but not `-it`. I tried that and now the cronjobs are working on DEV, hooray. I think the root of th

[2017-09-04 20:39] lamontfr opened #817 "Should be able to choose any relationship as billing person"
### Expected Behaviour
- As a customer manager, In client / billing information, when creating a client, I should be able to choose any previously defined relationship as billing person.
- Instead of the toggle "same as client ?", I should see a pull-down list offering to choose by name, first the client himself (default choice), then all the relationships of the the client.

### Actual Behaviour

[2017-09-04 20:54] lamontfr commented on #811
@JeanFrancoisFournier You are right, In the database the restricted_item "pork", the ingredient "Ground pork" was entered twice. Deleting the extra one fixed the problem.

[2017-09-04 20:54] #811 closed

[2017-09-08 01:01] lamontfr commented on #817
I found out that the actual behaviour is as expected. I edited the description above.

[2017-09-29 21:00] #803 closed

[2017-10-06 12:41] lamontfr opened #818 "Script to export all client and member data in printable format"
Since data was converted from Feast to Souschef in January 2017, the Roulant staff have made changes to the Feast database that are not present in Souschef. In order to identify the differences, a printable list of client and member data is required. This will allow volunteers to flag differences and later manually enter the changes in Souschef just before going in Production.

[2017-10-06 12:45] lamontfr commented on #818
@kousu @JeanFrancoisFournier I wrote the script (file `clientcsv,py`) below to export files clientsinfo.csv and membersinfo.csv. I executed it in the Test environment to check that it works. Nick, please ask Jean-Francois when he wants to run the script in Production.
[code]

[2017-10-06 16:27] kousu commented on #818
That's great. Thanks for your work @lamontfr;

I have a suggestion: why not get a computer to do the [diff](https://linux.die.net/man/1/diff)? We're probably not at a point where we can trust a computer to do the [patch](https://linux.die.net/man/1/patch) but we can at least automate finding the problems.

For csv, normal diff is a bit noisy: it'll flag entire records that have changed, instead of

[2017-10-06 16:36] kousu commented on #818
Oh sorry, I misread. I assumed you'd also written a script to dump the data from Feast in the same format.

I'm confused, then; is printing just to make the workflow easier?

[2017-10-06 16:40] kousu commented on #818
By the way it looks like this is [*almost* built into MySQL](https://mariadb.com/kb/en/library/select-into-outfile/):

[code]

((and a side note: postgres [has](https://stackoverflow.com/questions/1120109/export-postgres-table-to-csv-file-with-headings) the slightly better `\copy my_table to 'filename' csv header` which outputs the header line too))

but that will miss the relationships data, so I

[2017-10-06 16:42] lamontfr commented on #818
@kousu Thanks for your ideas. The problem is that the Feast database structure suffers from lack of integrity, making it very difficult to extract complete client information. Therefore, printing the data from Souschef will facilitate the workflow by enabling a volunteer, that knows Feast but not Souschef, to identify all the required changes.

[2017-10-08 01:27] lamontfr commented on #818
@kousu @JeanFrancoisFournier I updated the script to add the Feast MID for each client.

[2017-10-13 01:15] kousu commented on #818
I've run this on prod and sent the results over to @JeanFrancoisFournier. Your instructions were excellent, @lamontfr: every command you gave worked as directed the first time, and I can see you double-checked everything.

I have some nitpicks

* The script should be checked in directly under src/; if you do this on a branch this issue here could then be a Pull Request and we could work from that;

[2017-10-13 01:33] kousu commented on #698
I've run this in PROD. It seems to have gone off fine there.

[2017-10-14 01:27] lamontfr commented on #818
@kousu I am glad that the instructions were correct and that all worked well. I did not put this in the code base because this script is meant to be run only once in its current form. If @JeanFrancoisFournier wants to reuse this in the future I will take into account your recommendations.

[2017-10-14 01:39] lamontfr commented on #698
@kousu Great ! This script was for fixing incorrect values in the database. It should be not be required in the future.

[2017-10-26 06:00] johnsaigle commented on #795
^ Ran into the above issue again today with sous-chef. An update would be greatly appreciated!

[2017-11-02 13:58] JeanFrancoisFournier opened #819 "Order creation may cause order mistakes"
### Expected Behaviour

When entering an order manually, the protocol that should ALWAYS be followed is:
- Click ORDERS from the left tabs
- Click NEW ORDERS
- Select a CLIENT NAME
- Select a DATE
(At this point, SOUS-CHEF will load and display the MEAL DEFAULT of the selected CLIENT for that selected DAY)
- Review the displayed MEAL DEFAULT and make any "one time only" occasional adjustments (suc

[2017-12-03 00:28] JeanFrancoisFournier opened #820 "Wrong dates on labels"
### Expected Behaviour

When generating labels in the Kitchen count process, the date displayed and printed should be accurate.

### Actual Behaviour

The date displayed and printed is not accurate.

### Steps to reproduce

- access the Kitchen count from the left side tabs
- click on Step 2 "Ingredients"
- Select a recipe to load the ingredients and pick a random side dish ingredient
- Click conf

[2017-12-03 01:29] JeanFrancoisFournier opened #821 "Route size monitoring - Dashboard ajustment"
### Expected Behaviour

Following up on issues #713 and #735 here is a new issue that should fix for good the expected behaviour.

Provided that:
The user will maintain a MEAL DEFAULTS (number/size of main dishes and number/type of side dishes) for every client and for every delivery days regardless of whether or not that day is included in the client's MEAL SCHEDULE.

Provided that:
The number sh

[2017-12-05 17:44] dgabrielson commented on #634
Just getting up to speed with this deprecation.  I for one would be perfectly happy to migrate my code base (and data) from CAPhoneNumberField to the django-phonenumber-field package *if there was adequate documentation*.  Maybe I'm just missing something, but my first pass at this did not go well.

At a minimum, I'd like to see how to use django-phonenumber-field as a direct replacement for CAPho

[2017-12-06 16:06] JeanFrancoisFournier commented on #820
Also, it seems now that the date is stuck on December 1st.
Some clients thought we we're sending them old meals.

[2017-12-07 10:43] lamontfr opened #822 "Automatically set status to "Delivered" for yesterday's orders"
### Expected Behaviour
- The Billing only takes into account orders that have status equal to "Delivered".
- The Dashboard shows the number of meals delivered so far this month based on the order status.
- After midnight but before 8:00 AM, the Customer Manager wants the status to become "Delivered" for all orders for the preceding day (yesterday) that have the status "Ordered". The orders of yest

[2017-12-07 10:48] lamontfr commented on #818
The script was used successfully in October2017 by Santropol Roulant to print the information needed to make changes to Souschef data before going in production.

[2017-12-07 10:48] #818 closed

[2017-12-07 17:59] JeanFrancoisFournier commented on #822
Couldn't have said it better myself!

[2017-12-09 13:37] lamontfr commented on #822
I finished coding the solution. I will now document usage.

[2017-12-11 07:25] lamontfr commented on #822
@JeanFrancoisFournier @kousu I submitted the PR to be reviewed by Ling or Ernesto. I will wait a few days for their comments.

### Here are the instructions concerning the new command :
 - The command syntax is : ``` $ python3 manage.py setordersdelivered YYYY-mm-dd```
- This will set the status to "Delivered" for all orders that have the status "Ordered" for the specified (delivery) date.
- Examp

[2017-12-12 03:54] #822 closed

[2017-12-12 21:56] kousu commented on #822
This is related to #795 too, adding more work for #795.

[2017-12-12 23:10] kousu commented on #822
It would be a lot easier to deploy this reliably if the date had a default, so that it's calculated internally instead of in shell where quoting rules are a nightmare to get right. You could use `datetime.date.today() - datetime.timedelta(1)`

[2017-12-12 23:12] kousu commented on #795
Notice that #822 means we need a third cronjob now:

[code]

and remember to double-quote those percent-signs when you put them into the crontab!

[2017-12-13 00:07] kousu commented on #795
For reference, what I *actually* have installed right now in the crontab *for the user docker is run as*:

[code]

[2017-12-13 03:16] lamontfr commented on #822
@kousu @JeanFrancoisFournier I do not calculate the delivery date inside the command for one reason : I suspect that there is a date / timezone problem somewhere in Django / Docker (see Issue #820).
Therefore, specifying the date explicitly on the command line makes it safer for the time being,

[2017-12-20 09:35] lamontfr opened #824 "Disallow manually deleting orders"
### Expected Behaviour
- In the Orders list, I should not be able to delete an order but I should be able to cancel it.
- If I ever need to delete an order, I can use the Admin to do so.
### Actual Behaviour
- In the Orders list, I can delete an order (rightmost trashcan icon) which is dangerous because the next nightly automatic order generation will recreate it.
### Proposed solution
- In the Or

[2017-12-20 09:40] lamontfr opened #825 "Route sheets PDF prints with truncated top header"
### Expected Behaviour
- When I print the Route sheets PDF I should see the complete top header.
### Actual Behaviour
- I need to scale down the page to 95 % to see the top header on the printed page.
- When I open the Route sheets PDF file with "Master PDF Editor 4" on Linux, I can "print" the contents to a new PDF file which will then print on paper without truncating the top margin header.
###

[2018-01-07 14:30] lamontfr commented on #820
@JeanFrancoisFournier I found the cause and fixed it. Sorry it took so long. After Ernesto or Ling has tested, I will merge this fix, make a new release and ask @kousu to install it in souschef test.

[2018-01-10 04:35] #820 closed

[2018-02-04 00:48] intoro opened #827 "Error"
### Expected Behaviour
When I run:
 docker-compose build

### Actual Behaviour

ERROR: Version in "./docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose file version. Either specify a version of "2" (or "2.0") and place your service definitions under the `services` key, or omit the `version` key and place your service definitions at the root of

[2018-02-05 00:15] erozqba commented on #827
@intoro Sorry for this, we have been using "dev" branch and "master" was really behind. I have merged dev into master, so this should work now. Could you test again?

[2018-03-05 02:27] kousu commented on #827
@intoro That error message usually comes up for me when *docker* is out of date. Sous-Chef has been following the latest docker, and you really need to [follow](https://docs.docker.com/install/linux/docker-ce/debian/) [the](https://docs.docker.com/install/linux/docker-ce/ubuntu) [install](https://docs.docker.com/install/linux/docker-ce/centos) [instructions](https://docs.docker.com/install/linux/d

[2018-03-05 02:27] kousu commented on #827
Did you give up on trying it?

[2018-03-05 03:14] intoro commented on #827
No,  Just Been Busy.  I think I'll have time tonight.  I'll Update You

On Mar 4, 2018 6:27 PM, "Nick" <notifications@github.com> wrote:

[2018-03-05 07:13] kousu commented on #795
Another issue: the [example cronjobs](https://github.com/savoirfairelinux/sous-chef/blob/388cb19180252cc6506e4f0ee460ddfd1cac05da/docs/cronjob.adoc) suggest

[code]

**this is insecure**, especially when used with cron, because cron in its default config emails the command line if there's any output to the user running the job (aka their `~/.forward` file, usually, if they're a daemon user and you

[2018-03-05 07:30] kousu opened #828 "generateorders: "order.models.MultipleObjectsReturned: get() returned more than one Order -- it returned 2!""
**EDIT**: sometimes it returns 3 as well. It could be any number. 1 is the most likely, 2 is the next most likely.

On our production server, at on Fri, Mar 2, 2018 at 9:00 PM, running the cronjob

[code]

gave

[code]

and the next night, Sat, Mar 3, 2018 at 9:00 PM

[code]

We only just thought to make the cronjobs log what they're doing to email, so I don't know how long this has been going on.

[2018-03-05 07:33] kousu commented on #828
I'm able to reproduce it with manually running

[code]

[2018-03-05 07:37] kousu commented on #828
Going further back in time, sometimes one day will get generated and then the crash will happen:

[code]

[2018-03-05 07:52] kousu opened #829 "generateorders has misleading output"
### Actual Behaviour

As found in #828 :

[code]

but I checked the frontend, and the orders *weren't created* as far as I can tell: I would expect created orders to be in the Ordered state, but the Ordered state was empty for 2018-02-27, and instead most orders were in Delivered (due to `manage.py setordersdelivered`).

I'm guessing that whoever wrote `generateorders` wisely made it idempotent. T

[2018-03-05 07:55] kousu opened #830 "docker-compose.yml: stale 'frontend' network"
If you manually spawn into one of the docker containers you get this warning

[code]

This is because in `docker-compose.yml`

[code]

Removing the `frontend:` line makes the warning go away.

[2018-03-05 08:30] kousu commented on #828
I've traced the code; what's happening is that in [`auto_create_orders`](https://github.com/savoirfairelinux/sous-chef/blob/bb5c3e2fecf3fdf16dee3991dc96ccb4518601ad/src/order/models.py#L167) there's

[code]

like the exception says, that get() is choking on multiple results where it's only expecting one. I found a client ("xxxx") that triggers this and poked around the database. I found, for examp

[2018-03-05 08:53] kousu commented on #828
I've spot checked a few, and most cases contain a cancellation (`state=C`, but some contain only two or three Delivered (`state=D`). My theory is that orders are getting call-in cancellations, but then on the day of the delivery or soon before a re-order came in, the coordinator @JeanFrancoisFournier or whoever went in to manually add one, and bam now we've got a consistency problem. The UI probab

[2018-03-05 14:27] erozqba commented on #828
@kousu Great analysis! Could you provide a patch to fix this?

[2018-03-05 15:17] JeanFrancoisFournier commented on #828
Before hacking away at this issue, I'd love to check in with you Nick about that. Whenever you're in the office

[2018-03-06 23:37] kousu commented on #827
Thanks. Take your time and don't get discouraged! We really appreciate the feedback. This software is deployed but it's definitely a beta thing, so we are hungry for data on how it goes for others.

[2018-03-07 22:25] kousu commented on #828
To be clear, this causes `generateorders` to fail to run (usually) completely. This means that orders in the future may be missing. The current configuration generates 100 days in the future, so failing on one day may not be a problem because orders will have already been generated by a previous run -- for example, I saw this fail Friday and Saturday, but work again on Sunday -- but it might bite

[2018-04-05 07:38] kousu opened #831 "Get rid of the batch jobs"
Sous-Chef's reliance on batch-jobs for proper functioning makes it fragile. I propose that a lot of the core logic needs to be rethought in a functional programming style, and the batch jobs done away with.

Instead of having a bunch of states that orders flow through, there should be; especially, billing should not be done based on "delivered" orders (especially since we don't actually know what

[2018-04-08 03:28] erozqba commented on #830
@kousu Could you review and test the PR #832?
Thanks in advance!

[2018-04-08 03:32] erozqba commented on #828
@kousu @JeanFrancoisFournier any information in this issue? It's not clear to me what should be the solution.

[2018-04-08 03:33] erozqba commented on #827
@intoro is this now fixed?

[2018-04-11 14:17] kousu commented on #830
oh sure, of course. I'll take a look today.

On April 7, 2018 11:28:41 PM EDT, Ernesto Rodriguez Ortiz <notifications@github.com> wrote:

--
kousu

[2018-04-16 07:20] kousu commented on #830
Yes, of course, will do. Sorry, this got lost in my inbox.

7 avril 2018 23:28 "Ernesto Rodriguez Ortiz"  a écrit:
	@kousu (https://github.com/kousu) Could you review and test the PR #832 (https://github.com/savoirfairelinux/sous-chef/pull/832)?
Thanks in advance!

	—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub (https://github.com/savoirfairel

[2018-04-16 07:27] kousu commented on #828
@erozqba this got down-prioritized on our end because the daily workflow involves regenerated all the orders for the day, fresh, so we never run into an order made by `generateorders` except when looking ahead in the calendar for prediction.

The immediate solution here would be, I think, adding some other try-except clauses in judicious places. I haven't sat down to do this but I would like to, u

[2018-04-26 00:49] kousu commented on #790
Hi! I think this duplicates #767 , which I think is great because it's nice to see these polish corners being taken care of.

But even though it duplicates, it's possible there's still an issue.

First, the version installed on sous-chef-test right now is, apparently, https://github.com/savoirfairelinux/sous-chef/commit/396f86d696fd1dc541b6556dacea8a621e2b7420, on January 10th, which is after #767

[2018-04-26 13:01] erozqba commented on #790
@kousu Yes! Thanks for providing all this information @kousu I will try to continue this work and remove the use of CDN.

[2018-06-30 21:03] JeanFrancoisFournier opened #833 "Diabetic desserts causing confusing line break on printed route sheets"
### Expected Behaviour

The string "Diabetic Dessert" in individual orders on the route sheets should be switched to "Diabetic" only as this proves to be be too long for the actual layout of the printed route sheet and makes it so it's printed on two lines therefore not aligned with the number count of the items to be delivered. This confuses volunteers making the actual delivery and is a source o

[2018-07-04 18:46] kousu commented on #833
I'd suggest that the real error here is that the PDF generator assumes all Meal Components will fit on a single line. It sounds like it must be laying out by columns: first all names, then all numbers, instead of going name, number, name, number ....

The fix is to look at the PDF generation code and figure out why it isn't behaving itself; maybe it's using an HTML template, and in that case maybe

[2018-07-04 18:54] kousu commented on #833
The string is defined here:

https://github.com/savoirfairelinux/sous-chef/blob/396f86d696fd1dc541b6556dacea8a621e2b7420/src/meal/models.py#L7

but actually changing it requires running `manage.py makemigrations` then `manage.py migrate` on each instance we have of Sous-Chef so it's a bit more complicated.

[2018-07-04 19:37] kousu opened #834 "Out of date javascript"
I just followed the install guide from scratch on a fresh machine and received these warnings:

[code]

And, as an aside, it took something like half an hour to install, to download all the depdencies into the docker containers (`docker pull mariadb:latest`, `apt-get install`, `pip install`, `npm install`, `gulp`, ...).

[2018-07-04 19:55] kousu opened #835 "Can't Connect to DB on first run"
I just reinstall Sous-Chef fresh (see: #834) so I could work on it, and received "Can't connect to MySQL server on 'db' (111)".

Fuller log:

[code]

and then trying to go to http://localhost:8000 just gets a RST.

[2018-07-04 19:59] kousu commented on #835
Stopping and restarting it fixed it:

[code]

I believe this is a known issue---something something docker something---it's even [mentioned](https://github.com/savoirfairelinux/sous-chef/blob/dev/INSTALL.md#docker-initialization) in the docs, but it's annoying and I would like to open a bug to track getting it fixed.

[2018-07-04 20:21] kousu commented on #834
**Also**, even though I saw the dockerfile run gulp, I still had to manually re-run

[code]

inside the container once it was up before the webpage's look and feel would look correct.

[2018-07-04 20:39] kousu opened #836 "Surprise Duplicate Order Items"
### Expected Behaviour

Creating an order should create one row per *item group*.

### Actual Behaviour

It is possible to create, e.g., multiple Puddings. They are not coalesced into a single row on the route sheets or order page.

### Steps to reproduce

* Create a new order; choose "2" diabetic desserts: ![2018-07-04-163245_1280x800_scrot](https://user-images.githubusercontent.com/987487/422934

[2018-07-06 01:30] erozqba commented on #833
@JeanFrancoisFournier @kousu
Could you upload an example of the PDF?

[2018-07-06 01:36] erozqba commented on #835
It's out of the scope of sou-chef, its docker related because the first time MySQL container its initialized, it takes too much time to setup and creates the database.. the Web container it's a lot faster and makes the first request before the MySQL service inside the MySQL container is ready.

[2018-07-06 01:38] erozqba commented on #834
Yes, we should update JS dependencies!
Were you using dev or production environments when you have to run gulp manually?

[2018-07-06 01:41] erozqba commented on #836
Good catch! Could you investigate further into the code? I will try to look to.

[2018-07-09 23:51] JeanFrancoisFournier commented on #833
@erozqba Nice to see you again! Nick did a quick patch on our PROD version to fix this issue but it seems it created some minor UI issues.

[2018-07-09 23:52] JeanFrancoisFournier commented on #833
@kousu could you explain to Ernesto what you did? And maybe get his 2 cents on the Docker issue?

[2018-07-27 16:32] kousu commented on #834
I was using the dev environment. To be clear, that means I ran:

[code]

[2018-07-27 16:37] kousu commented on #835
Respectfully, I don't think it is out of scope. Everything from `git clone` to a working Sous-Chef instance in the install guide should be in scope. This issue makes Sous-Chef appear unreliable, and it's a turn off for newbie devs.

I don't mind doing the research and work to fix this myself, if you are willing to take a PR to fix it.

[2018-07-31 02:59] erozqba commented on #835
Thanks @kousu I will be happy to take a PR :)

[2018-07-31 03:05] kousu commented on #835
awesome. it's on my TODOs.

[2018-08-06 23:49] JeanFrancoisFournier commented on #836
This behavior is probably fine.

It really has to do with the fact that the first side dish computed is "non-billable" and comes free with the meal.

Ex. an order of 1 Main, 1 Pudding would show up as 2 items. The pudding being "non-billable".

All other addition of side dishes (even if it's just another unit of the same side dish ordered and flagged as "non-billable" are considered EXTRAS and sho

[2018-10-21 00:15] JeanFrancoisFournier opened #838 "Order generation must preserve manual changes"
https://github.com/savoirfairelinux/sous-chef/blob/396f86d696fd1dc541b6556dacea8a621e2b7420/src/order/models.py#L165-L172

[2018-10-21 00:43] JeanFrancoisFournier commented on #821
## this is not me thinking that deep but...

In short: defaults[day] is being malcomputed by this section:

https://github.com/savoirfairelinux/sous-chef/blob/b2be5bd3e6df0440d49509caa2b2c4736d0eb0c7/src/page/views.py#L74-L80

[2018-12-07 18:01] JeanFrancoisFournier opened #839 "URGENT! Changing the set price for "Default " rate type (also listed as billing type)"
URGENT!

### Expected Behaviour

We use 2 "billing type/Rate type": Low Income and Default

Both prices are hard coded in the application.

LOW INCOME: 4,50$ per meal (including a free side dish) with 0,75$ for any extra side dishes or larger portions of the main meal.

DEFAULT: 5,50$ per meal (including a free side dish) with 1,00$ for any extra side dishes or larger portions of the main meal.

I

[2018-12-20 05:35] taowa commented on #839
We can change this: https://github.com/savoirfairelinux/sous-chef/blob/396f86d696fd1dc541b6556dacea8a621e2b7420/src/order/models.py#L57

However, I'm unsure whether this will affect the billing of previous orders.

[2018-12-21 21:29] JeanFrancoisFournier commented on #838
- Expected Behaviour
  - When a customer calls to make changes affecting an order on a
    future date (tomorrow of later), I want to be able to change the
    quantities and contents of the order or to cancel the order.
  - When a customer calls for changes in his meal defaults or
    schedule, I want the future orders to reflect the changes.
  - When the status of a customer changes, I want the

[2018-12-21 21:33] JeanFrancoisFournier commented on #838
Also, I think that simply preventing the cron job from messing with manually modified orders could cause issues with side dish changes on manually generated orders. (i.e. episodic clients that order for the next month.)

This is a complex issue

[2019-01-04 02:41] kousu opened #840 "Floating point money"
In the orders model (and where else? probably billing) there are _floating points_ used to store money amounts.

https://github.com/savoirfairelinux/sous-chef/blob/396f86d696fd1dc541b6556dacea8a621e2b7420/src/order/models.py#L57-L62

This will [lead to roundoff errors](https://martinfowler.com/eaaCatalog/money.html). Money should always be counted in integers (so, for us, in CAD cents). The number

[2019-01-07 21:03] kousu opened #841 "Update to Django 2.x"
Django 1.11-LTS [will expire](https://www.djangoproject.com/download/) in 15 months:

![django timeline](https://www.djangoproject.com/s/img/release-roadmap.e844db08610e.png)

Sous-Chef needs to be upgraded before then. What's more, this is a major version bump, so there will be a lot of work needed.

There are similar maintenance problems elsewhere in the stack : #834

[2019-01-07 21:08] erozqba commented on #841
@kousu I would like to suggest to focus into an upgrade to the next LTS version when it's available and not to go into 2.0 or 2.1.

[2019-01-07 21:12] kousu commented on #841
@erozqba that would be 2.2, which will be out in ~3 months. I doubt anyone involved in Sous-Chef will find the time to start looking at this before then.

[2019-01-08 16:29] kousu opened #842 "`get_client_prices`"
While reviewing #839 I noticed `get_client_prices()`. It is a little shim to handle differently-billed clients but whereas it's called in `auto_create_orders()` and `create_batch_orders()`, in `add_item()`, which I believe is function called when entering orders manually, `MAIN_PRICE_DEFAULT` is used directly

https://github.com/savoirfairelinux/sous-chef/blob/396f86d696fd1dc541b6556dacea8a621e2b7

[2019-01-23 20:22] JeanFrancoisFournier commented on #833
This was solved in-house by @kousu.

[2019-01-23 20:47] JeanFrancoisFournier commented on #842
Not sure but create_batch_orders() could be related to the ability within the UI to select multiple dates when creating an order manually. This would allow the user to speed up the order taking by applying the same items and prices to multiples individual orders. Also it might speed up the computing instead of running the price check for every individual order when doing this in batch? Not sure...

[2019-01-31 18:36] JeanFrancoisFournier commented on #833
Nick's changes at #837 are what fixed it on our copy.

[2019-02-07 18:31] #839 closed, assigned to nobody

[2019-02-07 20:18] JeanFrancoisFournier opened #843 "Error when trying to change the name of a meal"
### Expected Behaviour

Through the Admin, We should be able to change name of any ingredients, components (dishes&recipes) and restricted items (restriction categories).

### Actual Behaviour

When trying to rename one, we got this error message:

Request Method: | POST
-- | --
http://localhost:8000/admin/meal/component/1619/change/
1.11.17
TooManyFieldsSent
The number of GET/POST parameters exce

[2019-02-07 20:20] JeanFrancoisFournier commented on #843
The easy work around to this was to delete the Component and recreate it with the new name. Annoying but efficient.

[2019-02-19 19:27] #551 closed

[2019-02-19 20:02] manumilou commented on #841
It's fine to stick to the LTS versions. You'll have until `1.11` gets deprecated to plan the upgrade.

[2019-02-20 23:14] manumilou commented on #843
Django has an arbitrary limit on fields than can be submitted through a form. It can be increased. I am surprised though, because the limit is pretty high by default I believe. @JeanFrancoisFournier How many ingredients in the meal you try to submit ?

[2019-02-21 14:08] JeanFrancoisFournier commented on #843
I think it has to do with the fact that during the CM process, every time we confirm the ingredients for the recipe of the day, a menu_component listing the ingredients used for that day. It also adds these ingredients in the component (dishes and recipes) with a mention that these ingredients were used on that date. See image below.

![image](https://user-images.githubusercontent.com/21957643/531

[2019-02-21 14:14] JeanFrancoisFournier commented on #843
and to answer your questions there is (as of today and until we serve the vegetable lasagna again) 251 ingredients listed in the recipe. Of these, only 7 are used to load the recipe in the UI and all the others were created by the application.

[2019-04-04 20:07] manumilou commented on #843
OK JF, I understand. So there is no point in increasing the limit of fields, except as a temporary bandaid, we'd better fix the underlying problem. In my mind, the problem occurs because we try to use the same concept (`Component) to serve two different purposes:

1. As generic recipes, to be loaded and modified during the KC
2. To trace back which ingredients were used for a given day. Maybe, als

[2019-04-04 20:27] manumilou commented on #838
This works though, right ?

[2019-10-05 15:09] JeanFrancoisFournier opened #846 "Client drop-list in Place orders should only display ACTIVE clients"
### Expected Behaviour

Drop-down list should only display active clients in order generation UI form, thus preventing user from creating an order for a paused, stopped or deceased clients.

### Actual Behaviour

The list shows all clients regardless of status. This may cause mistakes when a PAUSED client calls and places an order. If the user doesn't check their status manually, they still can fi

[2019-10-05 15:17] guillaumep commented on #846
Look in the client query in `src/order/forms.py`:

[code]

The query should get active clients only.

[2019-10-05 15:28] JeanFrancoisFournier opened #847 "Birthday dashboard should only display ACTIVE, PAUSED, PENDING clients"
### Expected Behaviour

Birthday dashboard should only display ACTIVE, PAUSED, PENDING clients

### Actual Behaviour

Birthday dashboard currently displays all clients regardless of their status.

### Steps to reproduce

* click on the Sous-Chef logo in the top left corner.
*Next 7 days of Birthdays are displayed in the top right console of the dashboard.

[2019-10-05 15:32] guillaumep commented on #847
<strike>See `ClientManager.get_birthday_boys_and_girls` in `src/member/models.py`.</strike>

First lead (incomplete code): in HomeView.get_context_data:

[code]

[2019-10-05 15:50] JeanFrancoisFournier opened #848 "Non Geo-located client warning should be more obvious"
### Expected Behaviour

On the REVIEW ORDERS menu (step #1 of the KITCHEN COUNT), a warning message should be displayed on top of the page if a client scheduled to receive a meal is not geo-located.

### Actual Behaviour

The warning message is displayed in the order list but can be missed if user doesn't scroll down the page.

### Steps to reproduce

Not easy to reproduce since the NEW CLIENT cre

[2019-10-05 16:11] JeanFrancoisFournier opened #849 "Billings should be displayed in descending year, month order"
### Expected Behaviour

Billings should be displayed in descending year, month order

### Actual Behaviour

Billings are displayed by ascending years, then by descending months.

### Steps to reproduce

* click BILLING in the left main menu

[2019-10-05 16:13] guillaumep commented on #849
<strike>In `src/billing/views.py`, add an `order_by` in `BillingList.get_queryset` (on `uf.qs`).</strike>

[2019-10-05 16:32] guillaumep commented on #848
I'll take this!

[2019-11-04 18:23] JeanFrancoisFournier opened #850 "Drop-down list should only display active clients in order generation UI form"
### Expected Behaviour

Drop-down list should only display active clients in order generation UI form, thus preventing user from creating an order for a paused, stopped or deceased clients.

### Actual Behaviour

The list shows all clients regardless of status. This may cause mistakes when a PAUSED client calls and places an order. If the user doesn't check their status manually, they still can fi

[2019-11-09 15:44] guillaumep opened #852 "No longer building -- need upgrade to node 10"
It is no longer possible to build sous-chef using node 8.

Upgrading to node 10 fixes the build.

[2019-11-09 17:01] guillaumep commented on #850
This issue is a duplicate of #846 and should be closed.

[2019-11-15 23:39] #850 closed, assigned to nobody

[2019-11-15 23:44] #852 closed, assigned to nobody

[2019-11-15 23:58] #849 closed, assigned to guillaumep

[2019-11-16 00:18] #846 closed, assigned to guillaumep

[2019-11-16 00:25] #847 closed, assigned to guillaumep

[2019-11-16 00:40] guillaumep commented on #821
I'll take this one.

[2019-11-16 00:43] #833 closed, assigned to nobody

[2019-11-16 00:45] JeanFrancoisFournier commented on #833
The work around solution of shortening the side dish name from Diabetic dessert to Diabetic solves this issue.

The only thing is that we will need to keep that in mind if we ever add another side option and give it a short name that won't affect the line-break display.

[2019-11-16 00:53] guillaumep commented on #821
Also, JF would like a "total" line in the dashboard.

[2020-03-07 14:24] guillaumep commented on #849
Confirmed working in staging environment.

[2020-03-07 14:33] guillaumep commented on #846
Confirmed working in staging environment: no paused nor pending nor deceased clients are listed.

[2020-03-07 14:37] guillaumep commented on #847
Confirmed working in staging environment.

[2020-03-07 16:35] JeanFrancoisFournier commented on #809
Seems to be related to the number of stops needed to be displayed. Maybe a cutoff that happens around 30 as this affects both NDG and CDN and only in the ROUTE MENU from the left sidebar (not on the Route ordering page of the day's kitchen count).

[2020-11-23 17:28] JeanFrancoisFournier commented on #846
Tested on staging with real numbers and fix is confirmed! Also faster to load which is a plus!

[2020-11-23 17:34] JeanFrancoisFournier opened #858 "Staging color menu is not consistent"
### Expected Behaviour

To prevent confusion in testing the app on the staging server, a different color was chosen to visually differenciate the 2 separate environnement.  This color should be consistently different.
### Actual Behaviour

The blue color sometimes goes back to black.

### Steps to reproduce

I can consistently reproduce this by simply clicking on different menu from the left navig

[2020-11-23 17:39] JeanFrancoisFournier commented on #847
Tested and confirmed

[2020-11-23 18:20] JeanFrancoisFournier commented on #849
tested both the UI visualisation and the creation of billings. Both work great!

[2020-11-24 00:11] #858 closed, assigned to nobody

[2021-01-08 16:45] guillaumep commented on #748
Solved in https://github.com/santropolroulant/sous-chef/issues/12